@font-face {
    font-family: Sarabun;
    src: url(../fonts/Sarabun-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sarabun;
}

.box {
    padding: 80px 0 0 260px;
}

.addPackage-box {
    width: fit-content;
    min-height: fit-content;
    padding: 36px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.hr {
    margin: 16px auto;
    border-bottom: 1px solid rgb(131, 120, 47, 0.7);
    opacity: 0.5;
}

.addPackage-box .flex-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    width: 100%;
    height: 118px;
    padding: 16px 0;
}

.addPackage-box input,.addPackage-box select{
    margin-top: 8px;
    width: 100%;
    height: 40px;
    padding: 0 12px;
    border: 1px solid rgb(131, 120, 47, 0.5);
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

.addPackage-box button {
    width: auto;
    height: 40px;
    border-radius: 4px;
    border: none;
    padding: 0 16px;
    background-color: rgb(131, 120, 47, 0.7);
    font-size: 16px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.addPackage-box button:hover{
    background-color: rgb(131, 120, 47, 1);
}

.addPackage-box input[type=text]#package_arrived{
    background-image: url("../img/tool/calendar.png");
    background-repeat:no-repeat;
    background-size: 20px;
    background-position: 92% 50%;
    cursor: pointer;
}

.addPackage-box .dateText{
    position: absolute;
    bottom: 1px;
    left: 12px;
    width: 152px;
    height: 38px;
    display: flex;
    align-items: center;
    background-color: #fff;
    cursor: default;
}
