@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: Sarabun;
    src: url(../fonts/Sarabun-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sarabun;
}

body {
    background: url('../img/tool/bg.png');
}

body::before{
    content: '';
    position: absolute;
    z-index: -1; /* push it to the background */
    top: 0px; /* position it off the top background */
    right: 0px;
    bottom: -340px; /* position it off the bottom background */
    left: 0px;
    background: url('../img/tool/flower.png') bottom left no-repeat,url('../img/tool/flower2.png') bottom right no-repeat;
    opacity: 0.2;
}

.box {
    width: 1400px;
    margin: auto;
    padding: 32px;
}

.box .checkRoom {
    width: 100%;
}

.searchDate {
    padding-top: 32px;
    display: flex;
}

.box .checkRoom .searchDate .checkText {
    font-family: 'Playfair Display', serif;
}

.box .checkRoom input {
    width: 180px;
    height: 40px;
    padding: 0 12px;
    border: 1px solid rgb(131, 120, 47, 0.7);
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

/* .box .checkRoom .searchDate input[type=date]{
    padding: 0 40px 0 12px;
} */

.box .checkRoom input[type=text] {
    color: transparent;
}

.box .checkRoom input[type=number] {
    width: 70px;
}

/* .box .checkRoom .searchDate input[type=date]:before {
    top: 10px; left: 12px;
    display: inline-block;
    color: black;
    font-size: 16px;
}

.box .checkRoom .searchDate input[type=date]::-webkit-datetime-edit, input[type=date]::-webkit-inner-spin-button, input[type=date]::-webkit-clear-button {
    display: none;
}
.box .checkRoom .searchDate input[type=date]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 10px;
    right: 8px;
    color: black;
    opacity: 1;
    cursor: pointer;
} */

.box .checkRoom .searchDate .dateText {
    position: absolute;
    width: 130px;
    top: 10px;
    left: 20px;
    background-color: #fff;
    cursor: default;
}

.box .checkRoom .searchDate button {
    width: auto;
    height: 40px;
    padding: 0 16px;
    border-radius: 4px;
    border: none;
    background-color: rgb(131, 120, 47, 0.7);
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.hr {
    margin: 16px auto 32px auto;
    border-bottom: 1px solid rgb(131, 120, 47, 0.7);
    opacity: 0.5;
}

/* .box .checkRoom .grid{
    padding-top: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
} */

.box .checkRoom .card {
    margin-bottom: 24px;
    display: grid;
    grid-template-columns: 30% auto;
    width: 100%;
    height: 400px;
    background: url('../img/tool/bg2.png');
    border-radius: 4px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.box .checkRoom .card h2 {
    color: #b3994c;
    font-weight: bold;
}

.box .checkRoom .card .img-grid {
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.8fr;
    gap: 4px 4px;
    grid-template-areas:
        "a a"
        "b c";
}

.a {
    grid-area: a;
}

.b {
    grid-area: b;
    height: 125px;
}

.c {
    grid-area: c;
    height: 125px;
}

.box .checkRoom .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box .checkRoom .card .detail {
    height: 290px;
    padding: 16px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    line-height: 40px;
}

.box .checkRoom .card .detail .user-grid {
    display: grid;
    grid-template-columns: 20px auto;
    column-gap: 8px;
}

.box .checkRoom .card .detail .user-grid img {
    width: 20px;
    object-fit: contain;
}

.box .checkRoom .card .detail .convenient-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.box .checkRoom .card .detail .convenient-grid .sub-grid {
    display: grid;
    grid-template-columns: 40px auto;
    column-gap: 16px;
}

.box .checkRoom .card input[type=number]::-webkit-inner-spin-button,
.box .checkRoom .card input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.box .checkRoom .card input[type=number] {
    -moz-appearance: textfield;
}

.box .checkRoom button {
    width: auto;
    height: 40px;
    padding: 0px 16px;
    border-radius: 4px;
    border: none;
    background-color: rgb(131, 120, 47, 0.7);
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.box .checkRoom .rent {
    width: 180px;
    height: 60px;
    padding: 0 16px;
    border-radius: 4px;
    border: none;
    background-color: rgb(131, 120, 47, 0.7);
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.box .checkRoom button:hover {
    background-color: rgb(131, 120, 47, 1);
}