@font-face {
    font-family: Sarabun;
    src: url(../fonts/Sarabun-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sarabun;
}

.box {
    padding: 80px 0 0 260px;
}

.cost-box {
    width: 100%;
    min-height: 800px;
    padding: 36px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.cost-box .card{
    display: flex;
    width: 100%;
    min-height: 400px;
    padding: 16px;
    border: 1px solid rgb(131, 120, 47, 0.7);
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.cost-box .card .chart {
    width: 100%;
    height: 366px;
}

.hr {
    margin: 32px 0;
    border-bottom: 1px solid rgb(131, 120, 47, 0.7);
    opacity: 0.5;
}

.cost-box input[type=text] {
    position: relative;
    width: 200px;
    height: 40px;
    padding: 0 12px;
    border: 1px solid rgb(131, 120, 47, 0.5);
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

.cost-box input[type=text]#date_from, .cost-box input[type=text]#date_to{
    background-image: url("../img/tool/calendar.png");
    background-repeat:no-repeat;
    background-size: 20px;
    background-position: 92% 50%;
    cursor: pointer;
}

.cost-box input[type=checkbox]{
    width: 20px;
    height: 20px;
    margin-right: 8px;
    cursor: pointer;
}

.cost-box .dateText{
    position: absolute;
    top: 1px;
    left: 20px;
    width: 152px;
    height: 38px;
    display: flex;
    align-items: center;
    background-color: #fff;
    cursor: default;
}

.cost-box button {
    width: auto;
    height: 40px;
    padding: 0 16px;
    border-radius: 4px;
    border: none;
    background-color: rgb(131, 120, 47, 0.7);
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.cost-box .search {
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
}

.cost-box .cancel-sort{
    width: 100%;
    background-color: #fff;
    border: 1px solid gray;
    color: grey;
}

.cost-box .cancel-sort:hover{
    background-color: rgb(235, 235, 235);
}

.cost-box .search-btn {
    margin-left: 8px;
}

.cost-box button:hover {
    background-color: rgb(131, 120, 47, 1);
}

.cost-box table {
    width: 100%;
    border-radius: 4px;
    /* overflow: hidden; */
    border-collapse: collapse;
    /* table-layout: fixed; */
}

.cost-box table tr {
    height: 50px;
}

.cost-box table th:nth-child(1){
    width: 5%;
}
.cost-box table th:nth-child(2){
    width: 8%;
}
.cost-box table th:nth-child(3){
    width: 12%;
}
.cost-box table th:nth-child(4){
    width: 13%;
}
.cost-box table th:nth-child(5){
    width: 7%;
}
.cost-box table th:nth-child(6){
    width: 7%;
}
.cost-box table th:nth-child(7){
    width: 11%;
}
.cost-box table th:nth-child(8){
    width: 11%;
}

.cost-box table th:nth-child(9){
    width: 26%;
}


.cost-box table td:first-child{
    text-align: center;
}

.cost-box table th,
.cost-box table td {
    height: 60px;
    border: 1px solid #ddd;
    padding: 0 16px;
}

.cost-box table td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cost-box table td:last-child{
    width: 290px;
}

.cost-box label,
.cost-box table th {
    font-size: 16px;
    font-weight: 500;
}

.cost-box table th {
    color: #fff;
    background-color: rgb(131, 120, 47, 0.7);
}

.cost-box table a {
    font-size: 16px;
    font-weight: 500;
    color: rgb(131, 120, 47);
    text-decoration: none;
    transition: 0.3s;
}

.cost-box table a:hover {
    color: rgb(131, 120, 47, 0.7);
}

.cost-box table .status-success {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    padding: 16px;
    border-radius: 4px;
    border: none;
    background-color: #B1D78A;
}

.cost-box table .status-pending{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    padding: 16px;
    border-radius: 4px;
    border: none;
    background-color: rgb(170, 170, 170);
}

.cost-box table .status-nosuccess {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    border-radius: 4px;
    border: none;
    background-color: #D68B8B;
}

.cost-box table .status-out{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    border-radius: 4px;
    border: none;
    background-color: rgb(255, 199, 95);
}

.cost-box table .status-success p, .cost-box table .status-nosuccess p, .cost-box table .status-pending p, .cost-box table .status-out p {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.cost-box table .confirm-status {
    width: 100%;
    background-color: #88BC45;
}

.cost-box table .confirm-status:hover {
    background-color: #719c39;
}

.cost-box table .confirmed-status {
    width: 100%;
    background-color: #c6c6c6;
    cursor: default;
}

.cost-box table .more{
    width: 100%;
}

.cost-box .option{
    display: grid;
    grid-template-columns: 1fr 1fr 40px;
    column-gap: 8px;
}

.cost-box .edit-btn {
    width: 40px;
    padding: 0;
    display: block;
    background-image: url(../img/tool/edit-icon.png);
    background-color: darkturquoise;
    background-repeat: no-repeat;
    background-position: center;
}

.cost-box .edit-btn:hover {
    background-color: rgb(0, 165, 165);
}

.cost-box .del-btn{
    width: 40px;
    padding: 0;
    display: block;
    background-image: url(../img/tool/trash-icon.png);
    background-color: rgb(255, 70, 70);
    background-repeat: no-repeat;
    background-position: center;
}

.cost-box .del-btn:hover{
    background-color:rgb(216, 40, 40);
}

.pagination {
    padding: 32px 0;
    display: inline-block;
}

.pagination a {
    color: #fff;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid rgb(131, 120, 47, 0.5);
    background-color: rgb(131, 120, 47, 0.5);
}

.pagination a.active {
    background-color: rgb(131, 120, 47, 1);
    color: #fff;
    border: 1px solid rgb(131, 120, 47, 1);
}

.pagination a:hover:not(.active) {
    background-color: rgb(131, 120, 47, 0.7);
    border: 1px solid rgb(131, 120, 47, 0.7);
}

@media screen and (max-width: 1623px) {
    .cost-box .search {
        height: auto;
    }
}

@media screen and (max-width: 1599px) {
    .box {
        padding: 80px 0 0 calc(100% - 1340px);
    }
}

@media screen and (max-width: 1569px) {
    .box {
        padding: 80px 0 0 230px;
    }
}

@media screen and (max-width: 1449px) {
    .box {
        padding: 80px 0 0 0;
    }
}

@media screen and (max-width: 1199px){
    .cost-box {
        padding: 24px;
    }

    .cost-box input[type=text]{
        width: 100%;
    }

    .cost-box input[type=text]#date_from, .cost-box input[type=text]#date_to{
        background-position: 95% 50%;
    }

    .cost-box .search{
        display: grid;
        grid-template-columns: 1fr auto;
        column-gap: 64px;
    }

    #sub-search{
        height: auto !important;
        display: grid !important;
        grid-template-columns: 1fr 1fr 4px 4px 1fr 1fr;
        grid-template-areas: 
        "search_topic search_topic search_topic search_topic search_topic search_topic"
        "from_box from_box to_text to_text to_box to_box"
        "search_btn search_btn . . cancel_box cancel_box";
        gap: 16px 8px;
    }

    .search_topic{
        grid-area: search_topic;
        padding: 10px 0 0 0 !important;
    }

    .from_box{
        grid-area: from_box;
    }

    .to_text{
        grid-area: to_text;
        text-align: center;
        padding: 10px 0 0 0 !important;
    }

    .to_box{
        grid-area: to_box;
    }

    .search_btn{
        grid-area: search_btn;
        margin: 0 !important;
    }

    .cancel_box{
        grid-area: cancel_box;
    }
}

@media screen and (max-width: 767px) {
    #box-padding {
        padding: 0 !important;
    }

    .cost-box {
        padding: 24px 16px;
        border-radius: 0;
    }

    .cost-box .search{
        grid-template-columns: 100%;
        grid-template-areas:
        "a"
        "div";
        row-gap: 16px;
    }

    .cost-box #first{
        grid-area: div;
        padding: 0 !important;
    }

    .cost-box #second{
        grid-area: a;
    }

    .cost-box #second button{
        width: 100%;
    }

    #sub-search{
        grid-template-areas: 
        "search_topic search_topic search_topic search_topic search_topic search_topic"
        "from_box from_box to_text to_text to_box to_box"
        "search_btn search_btn . . cancel_box cancel_box";
        gap: 16px 8px;
    }

    #checkbox-grid{
        padding: 32px 0;
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        gap: 32px 8px;
    }

    #checkbox-grid div{
        padding: 0 !important;
    }
}