@font-face {
    font-family: Sarabun;
    src: url(../fonts/Sarabun-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sarabun;
}

.box {
    padding: 80px 0 0 260px;
}

.dailycost-box {
    width: 100%;
    min-height: 800px;
    padding: 36px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.dailycost-box .card{
    display: flex;
    width: 100%;
    height: 400px;
    padding: 16px;
    border: 1px solid rgb(131, 120, 47, 0.7);
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.dailycost-box .card .sub-grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
}

.dailycost-box .card .chart {
    width: 100%;
    height: 366px;
}

.hr {
    margin: 32px 0;
    border-bottom: 1px solid rgb(131, 120, 47, 0.7);
    opacity: 0.5;
}

.dailycost-box .search {
    padding-top: 32px;
    display: flex;
}

.dailycost-box input {
    margin: 0 8px;
    width: 200px;
    height: 40px;
    padding: 0 12px;
    border: 1px solid rgb(131, 120, 47, 0.5);
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

.dailycost-box button {
    width: auto;
    height: 40px;
    padding: 0 16px;
    border-radius: 4px;
    border: none;
    background-color: rgb(131, 120, 47, 0.7);
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.dailycost-box .cancel-sort{
    background-color: #fff;
    border: 1px solid gray;
    color: grey;
}

.dailycost-box .cancel-sort:hover{
    background-color: rgb(235, 235, 235);
}

.dailycost-box input#check_in,.dailycost-box input#check_out{
    position: relative;
    color: transparent;
    background-color: transparent;
    background-image: url("../img/tool/calendar.png");
    background-repeat:no-repeat;
    background-size: 20px;
    background-position: 92% 50%;
    cursor: pointer;
}

.dailycost-box .search .dateText{
    position: absolute;
    top: 1px;
    left: 20px;
    width: 152px;
    height: 38px;
    display: flex;
    align-items: center;
    background-color: #fff;
    cursor: default;
}

.dailycost-box .search button {
    margin: 0 8px;
}

.dailycost-box button:hover {
    background-color: rgb(131, 120, 47, 1);
}

.dailycost-box table {
    margin-top: 32px;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    border-collapse: collapse;
}

.fixed{
    table-layout: fixed;
}

.dailycost-box table tr {
    height: 50px;
}

.dailycost-box table th,
.dailycost-box table td {
    border: 1px solid #ddd;
    padding: 0 16px;
    overflow: hidden;
    height: 60px;
}

.dailycost-box table th:nth-child(1){
    width:5%;
}

.dailycost-box table th:nth-child(2){
    width:8%;
}

.dailycost-box table th:nth-child(3){
    width:12%;
}

.dailycost-box table th:nth-child(4){
    width:22%;
}

.dailycost-box table th:nth-child(5){
    width:10%;
}

.dailycost-box table th:nth-child(6){
    width:7%;
}

.dailycost-box table th:nth-child(7){
    width:11%;
}

.dailycost-box table th:nth-child(8){
    width:25%;
}

.dailycost-box table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dailycost-box table th {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: rgb(131, 120, 47, 0.7);
}

.dailycost-box table th:first-child{
    padding: 0;
}

.dailycost-box table td:first-child {
    text-align: center;
    width: 20px;
}

.dailycost-box table td:last-child {
    width: 100px;
}

.dailycost-box table td p {
    font-size: 16px;
    font-weight: 500;
}

.dailycost-box table .status-success {
    background-color: #B1D78A;
    cursor: default;
    width: 100%;
}

.dailycost-box table .status-success p {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.dailycost-box table .del {
    margin: 0 4px;
    width: 70px;
    height: 40px;
    background-color: #FF4646;
    transition: 0.3s;
}

.dailycost-box table .del:hover {
    background-color: rgb(216, 40, 40);
}

.dailycost-box .print{
    padding: 0px 16px 0px 48px;
    background-image: url("../img/tool/printer.png");
    background-repeat: no-repeat;
    background-position: 12% 50%;
}

/* .dailycost-box .un-print{
    padding: 0px 16px 0px 48px;
    background-color: #ddd;
    background-image: url("../img/tool/printer.png");
    background-repeat: no-repeat;
    background-position: 12% 50%;
}

.dailycost-box .un-print:hover{
    background-color: #ddd;
    cursor: default;
} */

.pagination {
    padding: 32px 0;
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}