@font-face {
    font-family: Sarabun;
    src: url(../fonts/Sarabun-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sarabun;
}

.box {
    padding: 80px 0 0 260px;
}

.daily-box {
    width: 100%;
    min-height: 800px;
    padding: 36px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.hr {
    margin: 32px 0;
    border-bottom: 1px solid rgb(131, 120, 47, 0.7);
    opacity: 0.5;
}

.daily-box .search{
    padding-top: 32px;
    display: flex;
}

.daily-box input{
    margin: 0 8px;
    width: 200px;
    height: 40px;
    padding: 0 12px;
    border: 1px solid rgb(131, 120, 47, 0.5);
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

.daily-box button{
    width: auto;
    height: 40px;
    padding: 0 16px;
    border-radius: 4px;
    border: none;
    background-color: rgb(131, 120, 47, 0.7);
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.daily-box .select_room{
    background-color:  darkturquoise;
}

.daily-box .select_room:hover{
    background-color:   rgb(0, 165, 165);
}

.daily-box .search button{
    margin: 0 8px;
}

.daily-box .del-btn{
    background-color: #FF4646;
    transition: 0.3s;
}

.daily-box button:hover{
    background-color: rgb(131, 120, 47, 1);
}

.daily-box .del-btn:hover{
    background-color:rgb(216, 40, 40);
}

.daily-box select{
    width: auto;
    height: 40px;
    padding: 0 12px;
    border: 1px solid rgb(131, 120, 47, 0.5);
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

.daily-box .pending-btn{
    background-color: rgb(170, 170, 170);
    cursor: default;
    width:100%;
}

.daily-box .pending-btn:hover{
    background-color: rgb(170, 170, 170);
}

.daily-box .checkoutStatus-btn{
    background-color: rgba(255, 199, 95, 0.8);
    cursor: default;
    width:100%;
}

.daily-box .checkoutStatus-btn:hover{
    background-color: rgba(255, 199, 95, 0.8);
}

.daily-box .confirmed-btn{
    background-color: #B1D78A;
    cursor: default;
    width:100%;
    
}

.daily-box .confirmed-btn:hover{
    background-color: #B1D78A;
}

.daily-box .come-btn{
    background-color: rgb(82, 185, 82);
}

.daily-box .come-btn:hover{
    background-color:  rgb(74, 165, 74);
}

.daily-box .checkout-btn{
    background-color: rgb(255, 166, 0);
}

.daily-box .checkout-btn:hover{
    background-color: rgb(209, 132, 0);
}

.daily-box table {
    margin-top: 32px;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    border-collapse: collapse;
}

.daily-box table tr {
    height: 50px;
}

.daily-box table th,
.daily-box table td {
    border: 1px solid #ddd;
    padding: 0 16px;
    overflow: hidden;
    height: 60px;
}

.daily-box table td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.daily-box table th {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: rgb(131, 120, 47, 0.7);
}

.daily-box table td:first-child{
    width: 20px;
    text-align: center;
}

.daily-box table td:last-child{
    width: 170px;
    text-align: right;
}

.daily-box table td p {
    font-size: 16px;
    font-weight: 500;
}

.pagination {
    padding: 32px 0;
    display: inline-block;
}

.pagination a {
    color: #fff;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid rgb(131, 120, 47, 0.5);
    background-color: rgb(131, 120, 47, 0.5);
}

.pagination a.active {
    background-color: rgb(131, 120, 47, 1);
    color: #fff;
    border: 1px solid rgb(131, 120, 47, 1);
}

.pagination a:hover:not(.active) {
    background-color: rgb(131, 120, 47, 0.7);
    border: 1px solid rgb(131, 120, 47, 0.7);
}