@font-face {
    font-family: Sarabun;
    src: url(../fonts/Sarabun-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sarabun;
}

.box {
    padding: 80px 0 0 260px;
}

.dailyCostDetail-box {
    width: 100%;
    min-height: 800px;
    padding: 36px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.hr {
    margin: 16px auto 32px auto;
    border-bottom: 1px solid rgb(131, 120, 47, 0.7);
    opacity: 0.5;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "room_select room_select room_select name_title firstname firstname firstname firstname lastname lastname lastname lastname"
    "id_card id_card id_card id_card email email email email tel tel tel tel"
    "check_in check_in check_out check_out daily_status daily_status . . . . . ."
    "total_room_price total_room_price vat vat total_price total_price damages damages total_allprice total_allprice status status";
    gap: 16px 8px;
}

.room_select{
    grid-area: room_select;
    height: 86px;
}

.name_title{
    grid-area: name_title;
    height: 86px;
}

.firstname{
    grid-area: firstname;
    height: 86px;
}

.lastname{
    grid-area: lastname;
    height: 86px;
}

.id_card{
    grid-area: id_card;
    height: 86px;
}

.email{
    grid-area: email;
    height: 86px;
}

.tel{
    grid-area: tel;
    height: 86px;
}

.check_in{
    grid-area: check_in;
    height: 86px;
}

.check_out{
    grid-area: check_out;
    height: 86px;
}

.daily_status{
    grid-area: daily_status;
    height: 86px;
}

.total_room_price{
    grid-area: total_room_price;
    height: 86px;
}

.vat{
    grid-area: vat;
    height: 86px;
}

.total_price{
    grid-area: total_price;
    height: 86px;
}

.damages{
    grid-area: damages;
    height: 86px;
    position: relative;
}

.total_allprice{
    grid-area: total_allprice;
    height: 86px;
}

.status{
    grid-area: status;
}

.grid-container p{
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
}

.box .dailyCostDetail-box .print{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 32px;
    right: 4px;
    background-image: url("../img/tool/printer.png");
    background-color: rgb(131, 120, 47, 0.7);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    transition: 0.3s;
}

.box .dailyCostDetail-box .print:hover{
    background-color: rgb(131, 120, 47, 1);
}

.box .dailyCostDetail-box input:not([type=file]) {
    margin-top: 8px;
    width: 100%;
    height: 36px;
    padding: 0 12px;
    border: 1px solid rgb(131, 120, 47, 0.5);
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

.box .dailyCostDetail-box .pay_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
}

.box .dailyCostDetail-box .img-box{
    margin-top: 8px;
    width: 100%;
    height: 500px;
    border: 1px solid rgb(131, 120, 47, 0.7);
    border-radius: 4px;
    position: relative;
}

.box .dailyCostDetail-box .img-box img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.box .dailyCostDetail-box .img-box .del-btn{
    width: 40px;
    height: 40px;
    padding: 0 16px;
    border-radius: 4px;
    border: none;
    background-color: rgb(255, 70, 70);
    background-image: url("../img/tool/trash-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.box .dailyCostDetail-box .img-box .del-btn:hover {
    background-color: rgb(216, 40, 40);
}

.dailyCostDetail-box button {
    width: auto;
    height: 40px;
    padding: 0 16px;
    border-radius: 4px;
    border: none;
    background-color: rgb(131, 120, 47, 0.7);
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.dailyCostDetail-box button:hover {
    background-color: rgb(131, 120, 47, 1);
}

.dailyCostDetail-box button:disabled{
    background-color: #ddd;
    cursor: default;
}

.dailyCostDetail-box button:disabled:hover{
    background-color: #ddd;
}

@media screen and (max-width: 1599px){
    .box{
        padding: 80px 0 0 calc(100% - 1340px);
    }
}

@media screen and (max-width: 1569px){
    .box{
        padding: 80px 0 0 230px;
    }
}

@media screen and (max-width: 1449px){
    .box{
        padding: 80px 0 0 0;
    }
}

@media screen and (max-width: 1199px){
    .dailyCostDetail-box{
        padding: 24px;
    }
    .grid-container{
        grid-template-areas: 
        "room_select room_select room_select room_select room_select . . . . . . ."
        "name_title name_title firstname firstname firstname firstname firstname lastname lastname lastname lastname lastname"
        "id_card id_card id_card id_card email email email email tel tel tel tel"
        "check_in check_in check_in check_out check_out check_out daily_status daily_status daily_status . . ."
        "total_room_price total_room_price total_room_price total_room_price vat vat vat vat total_price total_price total_price total_price"
        "damages damages damages damages total_allprice total_allprice total_allprice total_allprice status status status status";
    }
}

@media screen and (max-width: 767px){
    #box-padding{
        padding: 0 !important;
    }

    .dailyCostDetail-box{
        padding: 24px 16px;
        border-radius: 0;
    }

    .grid-container{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "room_select room_select"
        "name_title name_title"
        "firstname firstname"
        "lastname lastname"
        "id_card id_card"
        "email email"
        "tel tel"
        "check_in check_in"
        "check_out check_out"
        "daily_status daily_status"
        "total_room_price total_room_price"
        "vat vat"
        "total_price total_price"
        "damages damages"
        "total_allprice total_allprice"
        "status status";
        gap: 8px;
    }

    .box .dailyCostDetail-box .pay_grid{
        grid-template-columns: 100%;
        row-gap: 16px;
    }
}