@font-face {
    font-family: Sarabun;
    src: url(../fonts/Sarabun-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sarabun;
}

.box {
    padding: 80px 0 0 260px;
}

.dailyDetail-box {
    width: 100%;
    min-height: 800px;
    padding: 36px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.hr {
    margin: 16px auto 32px auto;
    border-bottom: 1px solid rgb(131, 120, 47, 0.7);
    opacity: 0.5;
}

.dailyDetail-box .row {
    display: flex;
    padding-top: 32px;
}

.dailyDetail-box .row .col-1 {
    flex: 0 0 auto;
    width: 8.333333%;
    padding: 0 4px;
}

.dailyDetail-box .row .col-2 {
    flex: 0 0 auto;
    width: 16.666667%;
    padding: 0 4px;
}

.dailyDetail-box .row .col-3 {
    flex: 0 0 auto;
    width: 25%;
    padding: 0 4px;
}

.dailyDetail-box .row .col-4 {
    flex: 0 0 auto;
    width: 33.333333%;
    padding: 0 4px;
}

.dailyDetail-box .row .col-5 {
    flex: 0 0 auto;
    width: 41.666667%;
    padding: 0 4px;
}

.dailyDetail-box .row .col-6 {
    flex: 0 0 auto;
    width: 50%;
    padding: 0 4px;
}

.dailyDetail-box .row .col-7 {
    flex: 0 0 auto;
    width: 58.333333%;
    padding: 0 4px;
}

.dailyDetail-box .row .col-8 {
    flex: 0 0 auto;
    width: 66.666667%;
    padding: 0 4px;
}

.dailyDetail-box .row .col-9 {
    flex: 0 0 auto;
    width: 75%;
    padding: 0 4px;
}

.dailyDetail-box .row .col-10 {
    flex: 0 0 auto;
    width: 83.333333%;
    padding: 0 4px;
}

.dailyDetail-box .row .col-11 {
    flex: 0 0 auto;
    width: 91.666667%;
    padding: 0 4px;
}

.dailyDetail-box .row .col-12 {
    flex: 0 0 auto;
    width: 100%;
    padding: 0 4px;
}


.box .dailyDetail-box .row input {
    margin-top: 8px;
    width: 100%;
    height: 36px;
    padding: 0 12px;
    border: 1px solid rgb(131, 120, 47, 0.5);
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}