@font-face {
    font-family: Sarabun;
    src: url(../fonts/Sarabun-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sarabun;
}

.box {
    padding: 80px 0 0 260px;
}

.detail-box {
    width: 100%;
    min-height: 800px;
    padding: 36px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.detail-box .roomDetail {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 32px;
}

.detail-box .roomDetail input {
    margin-top: 8px;
    width: 150px;
    height: 40px;
    padding: 0 12px;
    border: 1px solid rgb(131, 120, 47, 0.5);
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

.detail-box textarea {
    margin-top: 8px;
    width: 100%;
    height: 200px;
    padding: 12px;
    border: 1px solid rgb(131, 120, 47, 0.5);
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    resize: none;
    transition: 0.3s;
}

.detail-box .grid {
    display: grid;
    grid-template-columns: 497px 497px 497px;
    grid-gap: 16px;
    width: 100%;
    margin-top: 16px;
}

.detail-box input[type="file"] {
    padding-top: 16px;
    width: 100%;
}

.detail-box .grid .img-box img{
    width: 100%;
    height: 512px;
    object-fit: cover;
    border-radius: 4px;
}

.detail-box .grid .img-box{
    width: 100%;
    height: 512px;
    border: 1px solid rgb(131, 120, 47, 0.5);
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}
/* 
canvas {
    width: 497px;
    height: 512px;
    border: 1px solid rgb(131, 120, 47, 0.5);
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    justify-content: center;
} */

.detail-box button{
    width: auto;
    height: 40px;
    margin: 0 8px;
    padding: 0 16px;
    border-radius: 4px;
    border: none;
    background-color: rgb(131, 120, 47, 0.7);
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.detail-box button:hover{
    background-color: rgb(131, 120, 47, 1);
}

.detail-box .edit-btn{
    background-color:darkturquoise;
}

.detail-box .edit-btn:hover{
    background-color: rgb(0, 165, 165);
}

.detail-box .cancel-btn{
    background-color: rgb(255, 70, 70);
}

.detail-box .cancel-btn:hover,
.detail-box .grid .del-btn:hover{
    background-color:rgb(216, 40, 40);
}

.detail-box .grid .del-btn{
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-color: rgb(255, 70, 70);
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}