@font-face {
    font-family: Sarabun;
    src: url(../fonts/Sarabun-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sarabun;
}

.box {
    padding: 80px 0 0 260px;
}

.emDetail-box {
    width: 100%;
    min-height: 800px;
    padding: 36px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.emDetail-box .option-grid{
    display: grid;
    grid-template-columns: 40px 40px 40px;
    column-gap: 8px;
    grid-template-areas:
    "quit edit del";
}

.quit { grid-area: quit; }
.edit { grid-area: edit; }
.del { grid-area: del; }

.emDetail-box .edit-btn {
    width: 40px;
    padding: 0;
    background-image: url(../img/tool/edit-icon.png);
    background-color: darkturquoise;
    background-repeat: no-repeat;
    background-position: center;
}

.emDetail-box .edit-btn:hover {
    background-color: rgb(0, 165, 165);
}

.emDetail-box .del-btn {
    width: 40px;
    padding: 0;
    background-image: url(../img/tool/trash-icon.png);
    background-color: rgb(255, 70, 70);
    background-repeat: no-repeat;
    background-position: center;
}

.emDetail-box .del-btn:hover {
    background-color: rgb(216, 40, 40);
}

.emDetail-box .quit-btn{
    width: 40px;
    padding: 0;
    background-image: url(../img/tool/quit-icon.png);
    background-size: 30px;
    background-color: #8c8c8c;
    background-repeat: no-repeat;
    background-position: center;
}

.emDetail-box .quit-btn:hover{
    background-color: #7d7d7d;
}

.emDetail-box .correct-btn{
    width: 40px;
    padding: 0;
    background-image: url(../img/tool/correct-icon.png);
    background-color: #88BC45;
    background-repeat: no-repeat;
    background-position: center;
}

.emDetail-box .plus-btn:hover,.emDetail-box .correct-btn:hover{
    background-color: #719c39;
}

.emDetail-box .cancel-btn {
    width: 40px;
    padding: 0;
    background-image: url(../img/tool/cancel-icon.png);
    background-color: rgb(255, 70, 70);
    background-repeat: no-repeat;
    background-position: center;
}

.emDetail-box .cancel-btn:hover {
    background-color: rgb(216, 40, 40);
}

.hr {
    margin: 16px auto 0px auto;
    border-bottom: 1px solid rgb(131, 120, 47, 0.7);
    opacity: 0.5;
}

.emDetail-box .profile-box{
    position: relative;
    margin-bottom: 8px;
    width: 160px;
    height: 160px;
    border-radius: 4px;
    border: 1px solid rgb(131, 120, 47, 0.5);
    overflow: hidden;
    position: relative;
}

.emDetail-box .delimg-btn{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 40px;
    padding: 0;
    background-image: url(../img/tool/trash-icon.png);
    background-color: rgb(255, 70, 70);
    background-repeat: no-repeat;
    background-position: center;
}

.emDetail-box .delimg-btn:hover {
    background-color: rgb(216, 40, 40);
}

.emDetail-box .form-grid{
    padding-top: 32px;
    display: grid;
    grid-template-columns: 160px auto;
    column-gap: 32px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 16px 8px;
    grid-template-areas:
        "come come out out status status . . ."
        "title_name firstname firstname firstname lastname lastname lastname nickname nickname"
        "id_card id_card birthday birthday age phone phone email email"
        "race race nation nation position . . . .";
}

.come {
    grid-area: come;
    height: 86px;
}

.out {
    grid-area: out;
    height: 86px;
}

.title_name {
    grid-area: title_name;
    height: 86px;
}

.firstname {
    grid-area: firstname;
    height: 86px;
}

.lastname {
    grid-area: lastname;
    height: 86px;
}

.nickname {
    grid-area: nickname;
    height: 86px;
}

.status {
    grid-area: status;
    height: 86px;
}

.id_card {
    grid-area: id_card;
    height: 86px;
}

.birthday {
    grid-area: birthday;
    height: 86px;
}

.age {
    grid-area: age;
    height: 86px;
}

.phone {
    grid-area: phone;
    height: 86px;
}

.email {
    grid-area: email;
    height: 86px;
}

.race {
    grid-area: race;
    height: 86px;
}

.nation {
    grid-area: nation;
    height: 86px;
}

.position{
    grid-area: position;
    height: 86px;
}

.emDetail-box input:not([type=file]),
.emDetail-box select {
    margin-top: 8px;
    width: 100%;
    height: 40px;
    padding: 0 12px;
    border-radius: 4px;
    outline: none;
    border: 1px solid rgb(131, 120, 47, 0.5);
    font-size: 16px;
    transition: 0.3s;
}

.emDetail-box input#come_date,.emDetail-box input#birthday{
    background-image: url("../img/tool/calendar.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 96% 50%;
    cursor: pointer;
}

.emDetail-box textarea {
    margin-top: 8px;
    width: 100%;
    height: 80px;
    resize: none;
    padding: 8px 12px;
    border-radius: 4px;
    outline: none;
    border: 1px solid rgb(131, 120, 47, 0.5);
    font-size: 16px;
    transition: 0.3s;
}

.emDetail-box .img-grid {
    padding: 32px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
}

.emDetail-box .img-grid .img-box {
    position: relative;
    margin: 8px 0;
    width: 100%;
    height: 400px;
    border: 1px solid rgb(131, 120, 47, 0.5);
    border-radius: 4px;
    overflow: hidden;
}

.emDetail-box img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.emDetail-box .placeholder-error::-webkit-input-placeholder {
    color: red
}

.emDetail-box button {
    width: auto;
    height: 40px;
    padding: 0 16px;
    border-radius: 4px;
    border: none;
    background-color: rgb(131, 120, 47, 0.7);
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.emDetail-box button:hover {
    background-color: rgb(131, 120, 47, 1);
}