@font-face {
    font-family: Sarabun;
    src: url(../fonts/Sarabun-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sarabun;
}

.box {
    padding: 80px 0 0 260px;
}

.employee-box {
    width: 50%;
    min-height: 800px;
    padding: 36px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.employee-box table{
    margin-top: 32px;
    width: 100%;
    overflow: hidden;
    border-collapse: collapse;
    border-radius: 4px;
}

.employee-box table tr{
    height: 50px;
}

.employee-box table th{
    cursor: pointer;
    color: #fff;
    background-color: rgb(131, 120, 47, 0.7);
    font-weight: 500;
}

.employee-box table th:first-child{
    width: 80px;
}

.employee-box table th:last-child{
    width: 240px;
}

.employee-box table th,
.employee-box table td{
    height: 60px;
    border: 1px solid #ddd;
}

.employee-box table th{
    justify-content: center;
}

.employee-box table td{
    padding: 0 16px;
}

.employee-box table td .grid{
    display: grid;
    grid-template-columns: 40px auto;
    grid-column-gap: 16px;
    align-items: center;
    height: 60px;
}

.employee-box table td img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 4px;
}

.employee-box button {
    width: 120px;
    height: 40px;
    padding: 0 16px;
    border-radius: 4px;
    border: none;
    background-color: rgb(131, 120, 47, 0.7);
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.employee-box table td .del-btn{
    width: 120px;
    height: 40px;
    padding: 0 16px;
    border-radius: 4px;
    border: none;
    background-color: rgb(255, 70, 70);
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.employee-box button:hover{
    background-color: rgb(131, 120, 47, 1);
}

.employee-box table td .del-btn:hover{
    background-color:rgb(216, 40, 40);
}

.employee-box table td .grid-btn{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0 16px;
}

.pagination {
    padding: 32px 0;
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}