@font-face {
    font-family: Sarabun;
    src: url(../fonts/Sarabun-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sarabun;
}

.box {
    padding: 80px 0 0 260px;
}

.gallery-card {
    width: 100%;
    min-height: 800px;
    padding: 36px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.header .inputfile + label {
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: rgb(131, 120, 47, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0 12px;  
    border-radius: 4px;
    height: 40px;
    transition: 0.3s;
}

.header .inputfile + label:hover {
    background-color: rgb(131, 120, 47, 1);
}

.hr{
    margin: 16px auto 32px auto;
    border-bottom: 1px solid rgb(131, 120, 47, 0.7);
    opacity: 0.5;
}

.gallery-card .grid{
    width: 100%;
    /* height: 728px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
}

.gallery-card .grid .img-box{
    width: 100%;
    max-height: 356px;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.gallery-card .grid .img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
    /* cursor: pointer; */
}

.gallery-card .grid .img-box .del-btn{
    width: 40px;
    height: 40px;
    padding: 0 16px;
    border-radius: 4px;
    border: none;
    background-color: rgb(255, 70, 70);
    background-image: url("../img/tool/trash-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.gallery-card .grid .img-box .del-btn:hover{
    background-color: rgb(216, 40, 40);
}

.pagination {
    padding: 32px 0;
    display: inline-block;
}

.pagination a {
    color: #fff;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid rgb(131, 120, 47, 0.5);
    background-color: rgb(131, 120, 47, 0.5);
}

.pagination a.active {
    background-color: rgb(131, 120, 47, 1);
    color: #fff;
    border: 1px solid rgb(131, 120, 47, 1);
}

.pagination a:hover:not(.active) {
    background-color: rgb(131, 120, 47, 0.7);
    border: 1px solid rgb(131, 120, 47, 0.7);
}

@media screen and (max-width: 1599px){
    .box{
        padding: 80px 0 0 calc(100% - 1340px);
    }
}

@media screen and (max-width: 1569px){
    .box{
        padding: 80px 0 0 230px;
    }
}

@media screen and (max-width: 1449px){
    .box{
        padding: 80px 0 0 0;
    }
}

@media screen and (max-width: 1199px){
    .gallery-card{
        padding: 24px;
    }
}

@media screen and (max-width: 767px){
    #box-padding{
        padding: 0 !important;
    }

    .gallery-card{
        padding: 24px 16px;
        border-radius: 0;
    }

    .gallery-card .grid{
        grid-template-columns: 1fr 1fr;
    }
}