@font-face {
    font-family: Sarabun;
    src: url(../fonts/Sarabun-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sarabun;
}

body {
    background: url("../img/tool/bg.png");
    position: relative;
}

.box {
    width: 1400px;
    margin: auto;
    padding: 32px;
}

.box .gallery {
    width: 100%;
}

.hr {
    margin: 16px auto 32px auto;
    border-bottom: 1px solid rgb(131, 120, 47, 0.7);
    opacity: 0.5;
}

.box .gallery .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
}

.box .gallery .grid .img-box {
    width: 100%;
    height: 322px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.box .gallery .grid .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
    cursor: pointer;
}

.box .gallery .grid .img-box img:hover {
    transform: scale(1.1);
}

.img-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    animation-name: modal;
    animation-duration: 0.3s;
}

@keyframes modal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.img-modal .card {
    margin: auto;
    display: block;
    position: relative;
    background-color: transparent;
}



.img-modal .card button {
    width: 30px;
    height: 30px;
    padding: 0 4px 2px 4px;
    font-size: 12px;
    border: none;
    color: #fff;
    background-color: #FF4646;
    transition: 0.3s;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;
}

.img-modal .card .card-header button span {
    font-size: 9px;
    line-height: 1px;
}

.img-modal .card button:hover {
    background-color: rgb(216, 40, 40);
}

.img-modal .card img {
    height: 800px;
    object-fit: contain;
}