@font-face {
    font-family: Sarabun;
    src: url(../fonts/Sarabun-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sarabun;
}

.box {
    padding: 80px 0 0 260px;
}

.home-box {
    width: 100%;
    min-height: 800px;
    padding: 36px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.hr {
    margin: 16px auto 0px auto;
    border-bottom: 1px solid rgb(131, 120, 47, 0.7);
    opacity: 0.5;
}

.home-box .grid {
    width: 100%;
    padding-top: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 56px;
}

.home-box .grid .card {
    width: 100%;
    height: 120px;
    border: 1px solid rgb(131, 120, 47, 0.7);
    border-radius: 4px;
    position: relative;
    background-image: url("../img/tool/bg2.png");
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    /* overflow: hidden; */
}

.home-box .grid .card .detail {
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid rgb(131, 120, 47, 0.7);
}

.home-box .grid .card .detail p {
    line-height: 40px;
    text-align: right;
}

.home-box .grid .card .search-box {
    width: 100%;
    height: 24px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    transition: 0.3s;
}

.home-box .grid .card .search-box input {
    width: 24px;
    height: 100%;
    border-radius: 0;
    border: none;
    color: transparent;
    background-color: transparent;
    background-image: url("../img/tool/calendar.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 2px 2px;
    cursor: pointer;
}

.home-box .grid .card .search-box .dateText1 {
    position: absolute;
    top: 3px;
    left: 16px;
}

.home-box .grid .card .search-box .dateText2 {
    position: absolute;
    top: 3px;
    right: 192px;
}

.home-box .grid .card a {
    color: #000;
}

.home-box .grid .card a:hover .search-box {
    background-color: rgb(131, 120, 47, 1);
}

.home-box .grid .card a:hover .search-box p {
    color: #fff;
}

.home-box .grid .card .icon-box {
    width: 70px;
    height: 70px;
    border: 1px solid rgb(131, 120, 47, 0.7);
    border-radius: 4px;
    position: absolute;
    top: -20px;
    left: 16px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    overflow: hidden;
}

.home-box .grid .card .icon-box img {
    width: 100%;
    height: 100%;
}

.home-box .chart-grid {
    padding-top: 56px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
    grid-template-areas:
    "a b"
    "c c";
}

.a { grid-area: a; }
.b { grid-area: b; }
.c { grid-area: c; }

.home-box .chart-grid .card2 {
    display: flex;
    width: 100%;
    min-height: 534px;
    padding: 16px;
    border: 1px solid rgb(131, 120, 47, 0.7);
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.home-box .chart-grid .card2 .chart {
    width: 100%;
    height: 100%;
    min-height: 500px;
}

.home-box .chart-grid .card2 .sub-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}