@font-face {
    font-family: Sarabun;
    src: url(../fonts/Sarabun-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sarabun;
}

.topbar {
    width: 100%;
    height: 120px;
    background: url('../img/tool/bg3.png');
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-around;
    z-index: 2;
}

.topbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: menu;
    animation-duration: 1.5s;
    list-style: none;
}

.topbar ul a {
    text-decoration: none;
    text-align: center;
    color: #000;
    font-weight: 500;
}

.topbar ul li {
    display: inline-flex;
    width: 120px;
    height: 120px;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
}

.topbar ul li:hover {
    background-color: rgba(131, 120, 47, 0.5);
    color: #fff;
}

.topbar ul:last-child>li:hover {
    background-color: transparent;
}

.topbar ul a img {
    width: 30px;
    height: 30px;
    transition: 0.1s;
}

.topbar ul a img:hover {
    filter: brightness(0.8);
}

.topbar .logo {
    display: block;
    margin: auto 0;
    opacity: 1;
    animation-name: menu;
    animation-duration: 1.5s;
}

.topbar .burger {
    display: none;
    width: 24px;
    height: 28px;
}


.topbar .burger div {
    width: 100%;
    height: 4px;
    margin: 4px 0;
    background-color: rgb(131, 120, 47, 0.7);
    border-radius: 4px;
}

@keyframes menu {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 1199px) {
    .topbar {
        justify-content: space-between;
        align-items: center;
        height: 80px;
        padding: 0 16px;
        position: fixed;
        top: 0;
    }

    .topbar .burger {
        display: block;
    }

    .topbar ul {
        display: none;
        position: absolute;
        top: 80px;
        animation-duration: unset;
        left: 0;
        width: 100%;
        height: 0;
        background: url('../img/tool/bg3.png');
        -webkit-box-shadow: inset 0px 16px 5px -16px rgba(0, 0, 0, 0.2),0px 6px 5px -4px rgba(0,0,0,0.2);
        -moz-box-shadow: inset 0px 16px 5px -16px rgba(0, 0, 0, 0.2),0px 6px 5px -4px rgba(0,0,0,0.2);
        box-shadow: inset 0px 16px 5px -16px rgba(0, 0, 0, 0.2),0px 6px 5px -4px rgba(0,0,0,0.2);
        z-index: 998;
    }

    .topbar ul a{
        opacity: 0;
    }
}

@media screen and (max-width: 767px) {
    .topbar ul{
        height: 480px;
    }
    .topbar ul li{
        width: 100%;
        height: 80px;
    }
}