@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: Sarabun;
    src: url(../fonts/Sarabun-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sarabun;
}

body {
    position: relative;
    background: url('../img/tool/bg.png') ;
}

body::before{
    content: '';
    position: absolute;
    z-index: -1; /* push it to the background */
    top: 800px; /* position it off the top background */
    right: 0px;
    bottom: 400px; /* position it off the bottom background */
    left: 0px;
    background: url('../img/tool/flower.png') bottom left no-repeat,url('../img/tool/flower2.png') bottom right no-repeat,url('../img/tool/flower3.png') top left no-repeat;
    opacity: 0.2;
}

body::after{
    content: '';
    position: absolute;
    z-index: -1; /* push it to the background */
    top: 2000px; /* position it off the top background */
    right: 0px;
    bottom: 400px; /* position it off the bottom background */
    left: 0px;
    background: url('../img/tool/flower4.png') top right no-repeat;
    opacity: 0.2;
}

.hr {
    width: 1300px;
    margin: 64px auto;
    border-bottom: 1px solid rgb(131, 120, 47, 0.7);
    opacity: 0.5;
}

.banner {
    width: 100%;
    height: 700px;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: 1s ease;
    transform: scale(1.1);
}

.reservation {
    width: 1400px;
    height: 90px;
    margin: auto;
}

.reservation .card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1400px;
    height: 120px;
    background: url('../img/tool/bg2.png');
    border-radius: 4px;
    padding: 0px 24px;
    position: absolute;
    bottom: 20px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.reservation .card .topic {
    font-size: 32px;
    line-height: 20px;
    color: #b3994c;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
}

.reservation .card input[type=text]{
    position: relative;
    width: 180px;
    height: 40px;
    padding: 0 12px;
    color: transparent;
    border: 1px solid rgb(131, 120, 47, 0.7);
    border-radius: 4px;
    cursor: pointer;
    background-image: url("../img/tool/calendar.png");
    background-repeat:no-repeat;
    background-size: 20px;
    background-position: 92% 50%;
}

.reservation .card input[type=number]{
    width: 70px;
    height: 40px;
    padding: 0 12px;
    border: 1px solid rgb(131, 120, 47, 0.7);
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.reservation .card input[type=number]::-webkit-inner-spin-button, 
.reservation .card input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

.reservation .card input[type=number] {
  -moz-appearance: textfield;
}

.reservation .card .icon{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 16px;
}

.reservation .card .dateText{
    position: absolute;
    top: 10px;
    left: 20px;
    width: 134px;
    background-color: #fff;
    cursor: default;
}

.reservation .card button {
    width: auto;
    height: 40px;
    padding: 0 16px;
    border-radius: 4px;
    border: none;
    background-color: rgb(131, 120, 47, 0.7);
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
}

.about {
    padding-top: 80px;
    width: 1200px;
    margin: auto;
}

.about .about-detail {
    display: grid;
    grid-template-columns: 650px auto;
    width: 100%;
    background: url('../img/tool/bg2.png');
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.about .about-detail img {
    width: 650px;
    height: 450px;
    object-fit: cover;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.about .about-detail h2 {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #b3994c;
    text-align: center;
}

.about .about-detail p {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: #000;
}

.room-box {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    /* height: 500px; */
    /* background-color: #faf8f0; */
}

.room-box .room-detail {
    width: 1200px;
}

.room-box .room-detail h2 {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #b3994c;
    text-align: center;
}

.room-box .room-detail .room-grid {
    padding: 60px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 16px;
}

.room-box .room-detail .room-grid .detail-grid {
    display: grid;
    grid-template-columns: 300px auto;
    border-radius: 4px;
    background: url('../img/tool/bg2.png');
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.room-box .room-detail .room-grid .detail-grid img {
    width: 300px;
    height: 250px;
    object-fit: cover;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.room-box .room-detail .room-grid .detail-grid .detail {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    line-height: 40px;
}

.room-box .room-detail .room-grid .detail-grid .detail h3 {
    color: #b3994c;
    font-weight: bold;
}

.room-box .room-detail .room-grid .detail-grid .detail button {
    width: auto;
    height: 40px;
    padding: 0 16px;
    border-radius: 4px;
    border: none;
    background-color: rgb(131, 120, 47, 0.7);
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.reservation .card button:hover,
.room-box .room-detail .room-grid .detail-grid .detail button:hover {
    background-color: rgb(131, 120, 47, 1);
}

.submain2-box {
    /* height: 500px; */
    /* background: url(/Pingfah/img/tool/bg2.png); */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submain2-box .submain2-topic {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #b3994c;
    text-align: center;
}

.submain2-box .submain2-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 64px;
    margin-top: 64px;
    width: 800px;
}

.submain2-box .submain2-grid .icon-img {
    width: 80px;
    height: 80px;
    display: block;
    margin: auto;
}

.submain2-box .submain2-grid p {
    margin-top: 16px;
    font-size: 18px;
    font-weight: 500;
    color: #b3994c;
    text-align: center;
}

.gallery {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 120px;
    /* align-items: center; */
    /* background: url(/Pingfah/img/tool/bg2.png); */
}

.gallery h2 {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #b3994c;
    text-align: center;
}

.gallery a {
    color: #b3994c;
    transition: 0.1s;
}

.gallery a:hover {
    color: rgb(131, 120, 47, 1);
}

.gallery-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "a a b b c c"
        "d d d e e e"
        "f f g g h h";
    gap: 16px;
    width: 1200px;
    margin-top: 60px;
}

.gallery-grid .img1 {
    grid-area: a;
}

.gallery-grid .img2 {
    grid-area: b;
}

.gallery-grid .img3 {
    grid-area: c;
}

.gallery-grid .img4 {
    grid-area: d;
}

.gallery-grid .img5 {
    grid-area: e;
}

.gallery-grid .img6 {
    grid-area: f;
}

.gallery-grid .img7 {
    grid-area: g;
}

.gallery-grid .img8 {
    grid-area: h;
}

.gallery-grid img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

@media screen and (max-width:1200px) {
    hr {
        width: 95%;
    }
}