@font-face {
    font-family: Sarabun;
    src: url(../fonts/Sarabun-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sarabun;
}

.box {
    padding: 80px 0 0 260px;
}

.quit-box {
    width: fit-content;
    height: fit-content;
    padding: 36px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.hr {
    margin: 16px auto 0px auto;
    border-bottom: 1px solid rgb(131, 120, 47, 0.7);
    opacity: 0.5;
}

.quit-box input:not([type=checkbox]){
    margin-top: 8px;
    width: 100%;
    height: 40px;
    padding: 0 12px;
    border-radius: 4px;
    outline: none;
    border: 1px solid rgb(131, 120, 47, 0.5);
    font-size: 16px;
    transition: 0.3s;
}

.quit-box input[type=checkbox]{
    margin: 0 8px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.grid-container{
    margin-top: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px 8px;
}

.come_date{
    grid-area: come_date;
}

.month_count{
    grid-area: month_count;
}

.deposit{
    grid-area: deposit;
}

.reason{
    grid-area: reason;
}

.quit-box button {
    width: auto;
    height: 40px;
    padding: 0 16px;
    border-radius: 4px;
    border: none;
    background-color: rgb(131, 120, 47, 0.7);
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.quit-box button:hover {
    background-color: rgb(131, 120, 47, 1);
}