@font-face {
    font-family: Sarabun;
    src: url(../fonts/Sarabun-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sarabun;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    animation-name: modal;
    animation-duration: 0.3s;
    z-index: 16;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes modal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.modal .card {
    width: 1200px;
    height: 800px;
    border-radius: 4px;
    background-color: #fff;
    margin: auto;
    display: block;
    position: relative;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.modal .card img {
    height: 800px;
    object-fit: contain;
}

.rule-box {
    width: 100%;
    min-height: 870px;
    padding: 36px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.rule-box .hr {
    margin: 16px auto 32px auto;
    border-bottom: 1px solid rgb(131, 120, 47, 0.7);
    opacity: 0.5;
}

.rule-box textarea {
    width: 100%;
    height: 600px;
    padding: 12px;
    border: 1px solid rgb(131, 120, 47, 0.5);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    outline: none;
    resize: none;
    transition: 0.3s;
}

.rule-box button {
    width: auto;
    height: 40px;
    padding: 0 16px;
    border-radius: 4px;
    border: none;
    background-color: rgb(131, 120, 47, 0.7);
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.rule-box button:hover{
    background-color: rgb(131, 120, 47, 1);
}

.rule-box button:disabled{
    background-color: #ddd;
}

input[type="checkbox"]{
    margin: 0 8px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
