@font-face {
    font-family: Sarabun;
    src: url(../fonts/Sarabun-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sarabun;
}

body {
    width: 100%;
    min-height: 100vh;
    background: url(../img/tool/submain-banner.png) #f5f5f5 no-repeat bottom right;
}

.sidebar {
    width: 260px;
    min-height: 100vh;
    background-color: #fff;
    position: fixed;
    z-index: 15;
    -webkit-box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 2px 0px 4px 0px rgba(48, 35, 35, 0.05);
}

.sidebar .logo_box {
    width: 100%;
    height: 80px;
    padding-left: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05); */
}

.sidebar .logo {
    width: 100%;
    max-width: 244px;
    height: 100%;
    object-fit: contain;
}

.sidebar ul {
    margin-top: 24px;
}

.sidebar ul a {
    text-decoration: none;
    color: #000;
}

.sidebar li {
    width: 100%;
    height: 50px;
    padding: 0 16px;
    border-bottom: 1px solid rgb(226, 226, 226);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.08s;
    cursor: pointer;
}

.sidebar li:hover {
    color: white;
    background-color: rgba(131, 120, 47, 0.5);
}

.sidebar .dropdown-btn, .sidebar .dropdown-btn2{
    display: flex;
    justify-content: space-between;
}

.sidebar .arrow-down {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid rgba(131, 120, 47, 0.5);
}

.sidebar .arrow-up {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid rgba(131, 120, 47, 0.5);
}

.sidebar .dropdown-container {
    display: none;
    background-color: rgb(238, 238, 238);
}

.sidebar .dropdown-container ul {
    margin: 0;
    box-shadow: inset 0 4px 8px -8px #000000;
}

.sidebar .dropdown-container ul li {
    padding-left: 32px;
}

.sidebar .logout:hover {
    color: white;
    background-color: rgb(214, 90, 90);
}

.topbar {
    width: 100%;
    height: 80px;
    padding-left: 260px;
    background-color: #fff;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 14;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
}

.topbar a{
    color: #000;
    text-decoration: none;
}

.topbar h3{
    text-overflow: ellipsis;
}

.topbar .topbar-flex{
    display: flex;
    justify-content: space-between;
    width: 180px;
}

.topbar .profile {
    display: grid;
    grid-template-columns: 60px auto;
    width: 240px;
    height: 80px;
    padding-left: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.topbar .profile:hover{
    background-color: rgba(131, 120, 47, 0.7);
}

.topbar .profile:hover p{
    color: #fff;
    font-weight: 500;
}

.topbar .profile-logo {
    width: 40px;
    height: 40px;
    display: block;
    margin: auto;
    border-radius: 4px;
    object-fit: cover;
}

.topbar .profile-text {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
}

.topbar .burger{
    display: none;
    width: 24px;
    height: 24px;
}

.topbar .burger div{
    margin: 4px 0;
    width: 100%;
    height: 4px;
    background-color: rgb(131, 120, 47, 0.7);
    border-radius: 4px;
}

.bg-close{
    width: 100%;
    min-height: 100vh;
    padding: 80px 0 0 230px;
    background-color: rgb(97, 97, 97);
    opacity: 0.2;
    position: fixed;
    display: none;
}

@media screen and (max-width: 1599px) {
    .sidebar{
        width: calc(100% - 1340px);
    }
}

@media screen and (max-width: 1569px){
    .sidebar{
        width: 230px;
    }
}

@media screen and (max-width: 1449px){
    .sidebar{
        /* position: absolute; */
        left: -230px;
    }

    .topbar{
        padding-left: 0px;
    }

    .topbar .burger{
        display: block;
    }
}

@media screen and (max-width: 767px){
    #topbar-box{
        padding: 16px 16px !important;
    }
    .topbar .profile{
        display: flex;
        align-items: center;
        width: auto;
        padding: 0 16px;
    }
    .topbar .profile p{
        display: none;
    }
}



/* @media screen and (max-width: 1023px) {
    .sidebar {
        width: 200px;
    }

    .topbar {
        padding-left: 200px;
    }
} */