@font-face {
    font-family: Sarabun;
    src: url(../fonts/Sarabun-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sarabun;
}

body {
    width: 100%;
    min-height: 100vh;
    background: url(../img/tool/submain-banner.png) #f5f5f5 no-repeat bottom right;
}

.sidebar {
    width: 260px;
    min-height: 100vh;
    background-color: #fff;
    position: fixed;
    z-index: 15;
    -webkit-box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 2px 0px 4px 0px rgba(48, 35, 35, 0.05);
}

.sidebar .logo_box {
    width: 100%;
    height: 80px;
    padding-left: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05); */
}

.sidebar .logo {
    width: 90%;
    height: 90%;
    object-fit: contain;
}

.sidebar ul {
    margin-top: 24px;
}

.sidebar ul a {
    text-decoration: none;
    color: #000;
}

.sidebar li {
    width: 100%;
    height: 50px;
    padding: 0 16px;
    border-bottom: 1px solid rgb(226, 226, 226);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.08s;
    cursor: pointer;
}

.sidebar li:hover {
    color: white;
    background-color: rgba(131, 120, 47, 0.5);
}

.sidebar .dropdown-btn{
    display: flex;
    justify-content: space-between;
}

.sidebar .dropdown-btn .arrow-down {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid rgba(131, 120, 47, 0.5);
}

.sidebar .dropdown-btn .arrow-up {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid rgba(131, 120, 47, 0.5);
}

.sidebar .dropdown-container {
    display: none;
    background-color: rgb(238, 238, 238);
}

.sidebar .dropdown-container ul {
    margin: 0;
    box-shadow: inset 0 4px 8px -8px #000000;
}

.sidebar .dropdown-container ul li {
    padding-left: 32px;
}

.sidebar .logout:hover {
    color: white;
    background-color: rgb(214, 90, 90);
}

.topbar {
    width: 100%;
    height: 80px;
    padding-left: 260px;
    background-color: #fff;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 14;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
}

.topbar .profile {
    display: grid;
    grid-template-columns: 60px auto;
    width: 240px;
    height: 60px;
    padding-left: 16px;
}

.topbar .profile-logo {
    width: 40px;
    height: 40px;
    display: block;
    margin: auto;
    border-radius: 4px;
    object-fit: cover;
}

.topbar .profile-text {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
}

@media screen and (max-width: 1199px) {
    .sidebar .logo_box {
        width: 100%;
    }

    .sidebar .logo {
        width: 100%;
    }
}

@media screen and (max-width: 1023px) {
    .sidebar {
        width: 200px;
    }

    .topbar {
        padding-left: 200px;
    }
}