@font-face {
    font-family: Sarabun;
    src: url(../fonts/Sarabun-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sarabun;
}

.box {
    padding: 80px 0 0 260px;
}

.repair-box {
    width: 100%;
    min-height: 800px;
    padding: 36px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.repair-box .card{
    display: flex;
    width: 100%;
    min-height: 400px;
    padding: 16px;
    border: 1px solid rgb(131, 120, 47, 0.7);
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.repair-box .card .sub-grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
}

.repair-box .card .chart {
    width: 100%;
    height: 366px;
}

.hr {
    margin: 32px 0;
    border-bottom: 1px solid rgb(131, 120, 47, 0.7);
    opacity: 0.5;
}

.repair-box input[type=text]{
    width: 200px;
    height: 40px;
    padding: 0 12px;
    border: 1px solid rgb(131, 120, 47, 0.5);
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

.repair-box input[type=text]#date_from,.repair-box input[type=text]#date_to{
    background-image: url("../img/tool/calendar.png");
    background-repeat:no-repeat;
    background-size: 20px;
    background-position: 92% 50%;
    cursor: pointer;
}

.repair-box .dateText{
    position: absolute;
    top: 1px;
    left: 20px;
    width: 152px;
    height: 38px;
    display: flex;
    align-items: center;
    background-color: #fff;
    cursor: default;
}

.repair-box input[type=checkbox]{
    width: 20px;
    height: 20px;
    margin-right: 8px;
    cursor: pointer;
}

.repair-box button {
    width: auto;
    height: 40px;
    padding: 0 16px;
    border-radius: 4px;
    border: none;
    background-color: rgb(131, 120, 47, 0.7);
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.repair-box button:hover {
    background-color: rgb(131, 120, 47, 1);
}

.repair-box .search {
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
}

.repair-box .search .cancel-sort{
    background-color: #fff;
    border: 1px solid gray;
    color: grey;
}

.repair-box .search .cancel-sort:hover{
    background-color: rgb(235, 235, 235);
}

.repair-box .del-btn {
    width: 40px;
    padding: 0;
    display: block;
    background-image: url(../img/tool/trash-icon.png);
    background-color: rgb(255, 70, 70);
    background-repeat: no-repeat;
    background-position: center;
}

.repair-box .del-btn:hover {
    background-color: rgb(216, 40, 40);
}

.repair-box table {
    width: 100%;
    border-radius: 4px;
    /* overflow: hidden; */
    border-collapse: collapse;
    /* table-layout: fixed; */
}

.repair-box table th:nth-child(1){
    width:5%;
}

.repair-box table th:nth-child(2){
    width:8%;
}

.repair-box table th:nth-child(3){
    width:10%
}

.repair-box table th:nth-child(4){
    width:10%
}

.repair-box table th:nth-child(5){
    width: 7%;
}

.repair-box table th:nth-child(6){
    width: 7%;
}

.repair-box table th:nth-child(7){
    width: 7%;
}

.repair-box table th:nth-child(8){
    width: 11%;
}

.repair-box table th:nth-child(9){
   width: 11%;
}

.repair-box table th:nth-child(10){
   width: 9%;
}

.repair-box table th:nth-child(11){
    width: 15%;
 }

.repair-box table td:first-child{
    text-align: center;
}

.repair-box table tr {
    height: 60px;
}

.repair-box table th,
.repair-box table td {
    border: 1px solid #ddd;
    padding: 0 16px;
    white-space: nowrap;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

.repair-box label,
.repair-box table th {
    font-size: 16px;
    font-weight: 500;
}

.repair-box table th {
    color: #fff;
    background-color: rgb(131, 120, 47, 0.7);
}

.repair-box table .flex-more {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 8px;
    justify-content: center;
    padding: 8px;
}

.repair-box table .pending-status {
    width: 100%;
    height: 40px;
    padding: 16px;
    border-radius: 4px;
    color: #fff;
    background-color: rgb(170, 170, 170);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    cursor: default;
}

.repair-box table .inprogress-status {
    width: 100%;
    height: 40px;
    padding: 16px;
    border-radius: 4px;
    color: #fff;
    background-color: #8ac5d7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    cursor: default;
}

.repair-box table .success-status {
    width: 100%;
    height: 40px;
    padding: 16px;
    border-radius: 4px;
    color: #fff;
    background-color: #B1D78A;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    cursor: default;
}

.repair-box .print {
    width: 40px;
    height: 40px;
    background-image: url("../img/tool/printer.png");
    background-repeat: no-repeat;
    background-position: center;
}

.repair-box .print:disabled{
    background-color: #ddd;
    cursor: default;
}

.pagination {
    padding: 32px 0;
    display: inline-block;
}

.pagination a {
    color: #fff;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid rgb(131, 120, 47, 0.5);
    background-color: rgb(131, 120, 47, 0.5);
}

.pagination a.active {
    background-color: rgb(131, 120, 47, 1);
    color: #fff;
    border: 1px solid rgb(131, 120, 47, 1);
}

.pagination a:hover:not(.active) {
    background-color: rgb(131, 120, 47, 0.7);
    border: 1px solid rgb(131, 120, 47, 0.7);
}

@media screen and (max-width: 1623px) {
    .repair-box .search {
        height: auto;
    }
}

@media screen and (max-width: 1599px) {
    .box {
        padding: 80px 0 0 calc(100% - 1340px);
    }
}

@media screen and (max-width: 1569px) {
    .box {
        padding: 80px 0 0 230px;
    }
}

@media screen and (max-width: 1449px) {
    .box {
        padding: 80px 0 0 0;
    }
}

@media screen and (max-width: 1199px){
    .repair-box {
        padding: 24px;
    }

    .repair-box input[type=text]{
        width: 100%;
    }

    .repair-box input[type=text]#date_from, .repair-box input[type=text]#date_to{
        background-position: 95% 50%;
    }

    .repair-box .search{
        display: grid;
        grid-template-columns: 1fr auto;
        column-gap: 64px;
    }

    #sub-search{
        height: auto !important;
        display: grid !important;
        grid-template-columns: 1fr 1fr 4px 4px 1fr 1fr;
        grid-template-areas: 
        "search_topic search_topic search_topic search_topic search_topic search_topic"
        "from_box from_box to_text to_text to_box to_box"
        "search_btn search_btn . . cancel_box cancel_box";
        gap: 16px 8px;
    }

    .search_topic{
        grid-area: search_topic;
        padding: 10px 0 0 0 !important;
    }

    .from_box{
        grid-area: from_box;
    }

    .to_text{
        grid-area: to_text;
        text-align: center;
        padding: 10px 0 0 0 !important;
    }

    .to_box{
        grid-area: to_box;
    }

    .search_btn{
        grid-area: search_btn;
        margin: 0 !important;
    }

    .cancel_box{
        grid-area: cancel_box;
    }

    .repair-box .card .sub-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 16px;
        min-height: 782px;
    }
}

@media screen and (max-width: 767px) {
    #box-padding {
        padding: 0 !important;
    }

    .repair-box {
        padding: 24px 16px;
        border-radius: 0;
    }

    .repair-box .search{
        grid-template-columns: 100%;
        grid-template-areas:
        "a"
        "div";
        row-gap: 16px;
    }

    .repair-box #first{
        grid-area: div;
        padding: 0 !important;
    }

    .repair-box #second{
        grid-area: a;
    }

    .repair-box #second button{
        width: 100%;
    }

    #sub-search{
        grid-template-areas: 
        "search_topic search_topic search_topic search_topic search_topic search_topic"
        "from_box from_box to_text to_text to_box to_box"
        "search_btn search_btn search_btn search_btn search_btn search_btn"
        "cancel_box cancel_box cancel_box cancel_box cancel_box cancel_box";
        gap: 16px 8px;
    }

    .repair-box .search .cancel-sort{
        width: 100%;
    }

    #checkbox-grid{
        padding: 32px 0;
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        gap: 32px 8px;
    }

    #checkbox-grid div{
        padding: 0 !important;
    }
}