@font-face {
    font-family: Sarabun;
    src: url(../fonts/Sarabun-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sarabun;
}

.box {
    padding: 80px 0 0 260px;
}

.repairDetail-box {
    width: 600px;
    min-height: fit-content;
    padding: 36px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.hr {
    margin: 16px auto 0px auto;
    border-bottom: 1px solid rgb(131, 120, 47, 0.7);
    opacity: 0.5;
}

.repairDetail-box p {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
}

.repairDetail-box .flex-detail {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 16px;
    width: 100%;
    margin-top: 32px;
}

.repairDetail-box .flex-detail2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    width: 100%;
    margin-top: 32px;
}

.repairDetail-box input{
    width: 48%;
    height: 40px;
    padding: 12px;
    border: 1px solid rgb(131, 120, 47, 0.5);
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

.repairDetail-box .flex-detail input, .repairDetail-box .flex-detail select,.repairDetail-box .flex-detail2 input{
    width: 100%;
    height: 40px;
    padding: 0 12px;
    border: 1px solid rgb(131, 120, 47, 0.5);
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

.repairDetail-box textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(131, 120, 47, 0.5);
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    resize: none;
    transition: 0.3s;
}

.repairDetail-box button{
    width: 80px;
    height: 40px;
    border-radius: 4px;
    border: none;
    background-color: rgb(131, 120, 47, 0.7);
    font-size: 16px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.repairDetail-box button:hover{
    background-color: rgb(131, 120, 47, 0.7);
}

.repairDetail-box input[type=text]#success_date{
    color: transparent;
    background-color: transparent;
    background-image: url("../img/tool/calendar.png");
    background-repeat:no-repeat;
    background-size: 20px;
    background-position: 92% 50%;
    cursor: pointer;
}

.repairDetail-box .dateText{
    position: absolute;
    bottom: 1px;
    left: 12px;
    margin: 0;
    width: 120px;
    height: 38px;
    display: flex;
    align-items: center;
    background-color: #fff;
    cursor: default;
}