@font-face {
    font-family: Sarabun;
    src: url(../fonts/Sarabun-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sarabun;
}

.box {
    padding: 80px 0 0 260px;
}

.box-grid {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    column-gap: 16px;
    width: 1610px;
}

.roomList-box input#date_from,
.roomList-box input#date_to,
.roomList-box input#check_in,
.roomList-box input#check_out {
    position: relative;
    width: 200px;
    height: 40px;
    padding: 0 12px;
    border: 1px solid rgb(131, 120, 47, 0.5);
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
    color: transparent;
    background-color: transparent;
    background-image: url("../img/tool/calendar.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 92% 50%;
    cursor: pointer;
}

.roomList-box .dateText {
    position: absolute;
    top: 1px;
    left: 12px;
    width: 152px;
    height: 38px;
    display: flex;
    align-items: center;
    background-color: #fff;
    cursor: default;
}

.roomList-box {
    width: 100%;
    min-height: 800px;
    padding: 36px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.hr {
    margin: 16px auto;
    border-bottom: 1px solid rgb(131, 120, 47, 0.7);
    opacity: 0.5;
}

.roomList-box button {
    width: auto;
    height: 40px;
    padding: 0 16px;
    border-radius: 4px;
    border: none;
    background-color: rgb(131, 120, 47, 0.7);
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.roomList-box button:hover {
    background-color: rgb(131, 120, 47, 1);
}

.roomList-box table {
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    border-collapse: collapse;
    table-layout: fixed;
}

.roomList-box table tr {
    height: 50px;
}

.roomList-box table th,
.roomList-box table td {
    border: 1px solid #ddd;
    padding: 0 16px;
    overflow: hidden;
}

.roomList-box table th {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: rgb(131, 120, 47, 0.7);
}

.roomList-box table th:nth-child(1) {
    width: 15%;
}

.roomList-box table th:nth-child(2) {
    width: 15%;
}

.roomList-box table th:nth-child(3) {
    width: 40%;
}

.roomList-box table th:nth-child(4) {
    width: 10%;
}

.roomList-box table th:nth-child(5) {
    width: 20%;
}

.roomList-box table td p {
    font-size: 16px;
    font-weight: 500;
}

.roomList-box table a {
    font-size: 16px;
    font-weight: bold;
    color: rgb(131, 120, 47, 0.7);
    /* text-decoration: none; */
    transition: 0.3s;
}

.roomList-box table a:hover {
    color: rgb(131, 120, 47, 1);
}

.roomList-box .status-available {
    width: 36px;
    height: 36px;
    background-color: rgb(82, 185, 82);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: auto;
}

.roomList-box .status-unavailable {
    width: 36px;
    height: 36px;
    background-color: rgb(255, 70, 70);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: default;
    margin: auto;
}

.roomList-box .status-daily {
    width: 36px;
    height: 36px;
    background-color: rgb(0, 183, 255);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: default;
    margin: auto;
}

.roomList-box table .edit-btn {
    margin: 0 4px;
    width: 70px;
    height: 40px;
    background-color: darkturquoise;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}

.roomList-box table .del-btn{
    margin: 0 4px;
    width: 70px;
    height: 40px;
    background-color: rgb(255, 70, 70);
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}

.roomList-box table .del-btn:hover{
    background-color: rgb(216, 40, 40);
}

.roomList-box .cancel-btn{
    background-color: #fff;
    border: 1px solid gray;
    color: grey;
}

.roomList-box .cancel-btn:hover{
    background-color: rgb(235, 235, 235);
}

.roomList-box table .accept-btn {
    margin: 0 4px;
    width: 70px;
    height: 40px;
    background-color: rgb(82, 185, 82);
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}

.roomList-box table .accept-btn:hover {
    background-color: rgb(74, 165, 74);
}

.roomList-box table form {
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.roomList-box table select {
    width: 120px;
    height: 40px;
    padding: 0 12px;
    border: 1px solid rgb(131, 120, 47, 0.5);
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

.roomList-box table select:hover,
.roomList-box table select:focus {
    border: 1px solid rgb(131, 120, 47, 1);
}

.roomList-box table .edit-btn:hover {
    background-color: rgb(0, 165, 165);
}

.roomList-box #addRoom {
    display: none;
}

.roomList-box #addRoom form {
    display: flex;
}

.roomList-box #addRoom form input,
.roomList-box #addRoom form select {
    width: 120px;
    height: 40px;
    padding: 0 12px;
    border: 1px solid rgb(131, 120, 47, 0.5);
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

.roomList-box #addRoom form button[type="submit"] {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    border: none;
    background-color: rgb(131, 120, 47, 0.7);
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.roomList-box #addRoom form button[type="submit"]:hover {
    background-color: rgb(131, 120, 47, 1);
}

.roomList-box .status-grid {
    margin-bottom: 32px;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
}

.roomList-box .status-grid .sub-grid {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    column-gap: 16px;
}

.roomList-box .card {
    margin: 16px 0;
    width: 100%;
    height: 240px;
    border-radius: 4px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 0.9fr 1fr;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.roomList-box input[type=number] {
    width: 70px;
    height: 40px;
    padding: 0 12px;
    border: 1px solid rgb(131, 120, 47, 0.5);
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

.roomList-box input[type=number]::-webkit-inner-spin-button,
.roomList-box input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.roomList-box input[type=number] {
    -moz-appearance: textfield;
}

.roomList-box .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.roomList-box .card .cardimg {
    vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.roomList-box .card .container {
    position: relative;
}

/* Hide the images by default */
.roomList-box .card .mySlides1,
.roomList-box .card .mySlides2 {
    display: none;
    height: 240px;
}

/* Add a pointer when hovering over the thumbnail images */
.roomList-box .card .cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.roomList-box .card .prev,
.roomList-box .card .next {
    cursor: pointer;
    position: absolute;
    top: 35%;
    width: auto;
    padding: 16px;
    /* margin-top: -50px; */
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    transition: 0.2s;
}

/* Position the "next button" to the right */
.roomList-box .card .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.roomList-box .card .prev:hover,
.roomList-box .card .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.roomList-box .card .detail {
    height: 240px;
    padding: 16px;
    line-height: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.roomList-box .card .detail .user-grid {
    display: grid;
    grid-template-columns: 20px auto;
    column-gap: 8px;
    margin: 16px 0;
}

.roomList-box .card .detail .user-grid img {
    width: 20px;
    object-fit: contain;
}

.pagination {
    padding: 32px 0;
    display: inline-block;
}

.pagination a {
    color: #fff;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid rgb(131, 120, 47, 0.5);
    background-color: rgb(131, 120, 47, 0.5);
}

.pagination a.active {
    background-color: rgb(131, 120, 47, 1);
    color: #fff;
    border: 1px solid rgb(131, 120, 47, 1);
}

.pagination a:hover:not(.active) {
    background-color: rgb(131, 120, 47, 0.7);
    border: 1px solid rgb(131, 120, 47, 0.7);
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    cursor: pointer;
}

@media screen and (max-width: 1199px) {
    .roomList-box {
        min-height: 100%;
        padding: 24px;
    }

    .roomList-box table {
        width: 100%;
    }
}

@media screen and (max-width: 1023px) {
    .box {
        padding: 80px 0 0 200px;
    }

    .roomList-box table .status-available,
    .roomList-box table .status-unavailable {
        width: 30px;
        height: 30px;
    }
}