@font-face {
    font-family: Sarabun;
    src: url(../fonts/Sarabun-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sarabun;
}

body{
    width: 100%;
    min-height: 100vh;

    position: relative;
    background: url("../img/tool/bg.png");
}

body::before{
    content: '';
    position: absolute;
    z-index: -1; /* push it to the background */
    top: 0px; /* position it off the top background */
    right: 0px;
    bottom: -100px; /* position it off the bottom background */
    left: 0px;
    background: url('../img/tool/flower.png') bottom left no-repeat,url('../img/tool/flower2.png') bottom right no-repeat;
    opacity: 0.2;
}

.box{
    width: 1400px;
    margin: auto;
    padding: 32px;
}

.box .roomPage{
    width: 100%;
}

.hr{
    margin: 16px auto;
    border-bottom: 1px solid rgb(131, 120, 47, 0.7);
    opacity: 0.5;
}

.box .roomPage .card{
    margin: 32px 0;
    width: 100%;
    height: 400px;
    border-radius: 4px;
    background: url("../img/tool/bg2.png");
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.box .roomPage .card h3{
    color: #b3994c;
    font-weight: bold;
}

.box .roomPage .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box .roomPage .card .detail{
    padding: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    line-height: 40px;
}

.box .roomPage .card button{
    width: auto;
    height: 40px;
    padding: 0 16px;
    border-radius: 4px;
    border: none;
    background-color: rgb(131, 120, 47, 0.7);
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.box .roomPage .card button:hover{
    background-color: rgb(131, 120, 47, 1);
}
