@font-face {
    font-family: Sarabun;
    src: url(../fonts/Sarabun-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sarabun;
}

.box {
    padding: 80px 0 0 260px;
}

.roomDetail-box {
    width: fit-content;
    padding: 36px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.hr {
    margin: 16px auto 32px auto;
    border-bottom: 1px solid rgb(131, 120, 47, 0.7);
    opacity: 0.5;
}

.roomDetail-box .grid{
    margin-top: 32px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 16px;
}

.roomDetail-box .card{
    display: grid;
    grid-template-columns: 200px auto;
    height: 200px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.roomDetail-box .card .detail{
    padding: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.roomDetail-box .card img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.roomDetail-box button{
    width: auto;
    height: 40px;
    padding: 0 16px;
    border-radius: 4px;
    border: none;
    background-color: rgb(131, 120, 47, 0.7);
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.roomDetail-box button:hover{
    background-color: rgb(131, 120, 47, 1);
}

.roomDetail-box .grid p,.roomDetail-box .grid h3{
    padding-bottom: 16px;
}
