@font-face {
    font-family: Sarabun;
    src: url(../fonts/Sarabun-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sarabun;
}

body{
    position: relative;
}

.box {
    padding: 80px 0 0 260px;
}

.box-grid {
    display: grid;
    grid-template-columns: 1.2fr 1.2fr 0.6fr;
    column-gap: 16px;
}

.roomList-box {
    width: 100%;
    min-height: 800px;
    padding: 36px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.hr {
    margin: 16px auto 0px auto;
    border-bottom: 1px solid rgb(131, 120, 47, 0.4);
}

.roomList-box .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.roomList-box .header .option-grid{
    display: grid;
    grid-template-columns: 40px auto;
    column-gap: 8px;
}

.roomList-box .header .option-grid a{
    height: 40px;
}

.roomList-box .header .option-grid .history-btn{
    width: 40px;
    background-image: url("../img/tool/history-icon.png");
    background-repeat: no-repeat;
    background-position: center;
}

.roomList-box .header .addRoom {
    display: flex;
    align-items: center;
}

.roomList-box .addRoom .cancel-btn {
    background-color: #fff;
    border: 1px solid gray;
    color: grey;
}

.roomList-box .addRoom .cancel-btn:hover {
    background-color: rgb(235, 235, 235);
}

button {
    width: auto;
    height: 40px;
    padding: 0 16px;
    border-radius: 4px;
    border: none;
    background-color: rgb(131, 120, 47, 0.7);
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

#search_room{
    margin-left: 8px;
}

.roomList-box .input-grid button {
    position: relative;
    top: 29px;
}

.roomList-box button:hover {
    background-color: rgb(131, 120, 47, 1);
}

.roomList-box .checkbox-grid {
    padding: 32px 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 8px;
    row-gap: 32px;
    align-items: center;
}

.roomList-box .checkbox-grid .sub-checkbox-grid {
    display: grid;
    grid-template-columns: 20px auto;
    column-gap: 8px;
    align-items: center;
}

.roomList-box .checkbox-grid input[type=checkbox] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.roomList-box table {
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    border-collapse: collapse;
    /* table-layout: fixed; */
}

.roomList-box table tr {
    height: 60px;
}

.roomList-box table th,
.roomList-box table td {
    border: 1px solid #ddd;
    padding: 0 16px;
    overflow: hidden;
}

.roomList-box table th {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: rgb(131, 120, 47, 0.7);
}

.roomList-box table th:nth-child(1) {
    width: 20%;
}

.roomList-box table th:nth-child(2) {
    width: 20%;
}

.roomList-box table th:nth-child(3) {
    width: 20%;
}

.roomList-box table th:nth-child(4) {
    width: 15%;
}

.roomList-box table th:nth-child(5) {
    width: 25%;
}

.roomList-box table td a {
    color: rgb(131, 120, 47, 0.7);
    font-weight: bold;
    transition: 0.3s;
}

.roomList-box table td a:hover {
    color: rgb(131, 120, 47, 1);
}

.roomList-box table td img {
    display: block;
    margin: auto;
}

.roomList-box .status-available {
    width: 36px;
    height: 36px;
    background-color: rgb(82, 185, 82);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: auto;
}

.roomList-box .status-unavailable {
    width: 36px;
    height: 36px;
    background-color: rgb(255, 70, 70);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: default;
    margin: auto;
}

.roomList-box table td .edit-btn {
    width: 40px;
    padding: 0;
    display: block;
    margin: 0 8px;
    background-image: url(../img/tool/edit-icon.png);
    background-color: darkturquoise;
    background-repeat: no-repeat;
    background-position: center;
}

.roomList-box table td .edit-btn:hover {
    background-color: rgb(0, 165, 165);
}

.roomList-box table td .del-btn {
    width: 40px;
    padding: 0;
    display: block;
    margin: 0 8px;
    background-image: url(../img/tool/trash-icon.png);
    background-color: rgb(255, 70, 70);
    background-repeat: no-repeat;
    background-position: center;
}

.roomList-box table td .del-btn:hover {
    background-color: rgb(216, 40, 40);
}

.roomList-box .arrow-up {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgb(131, 120, 47, 0.7);
    margin-left: auto;
    position: relative;
    right: 42px;
}

.roomList-box .popover {
    width: 470px;
    height: 183px;
    padding: 16px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.roomList-box .popover .input-grid {
    padding-top: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 8px;
    row-gap: 16px;
}

select,
input[type=text],
input[type=number] {
    margin-top: 8px;
    width: 100%;
    height: 40px;
    padding: 0 12px;
    border-radius: 4px;
    outline: none;
    border: 1px solid rgb(131, 120, 47, 0.5);
    font-size: 16px;
    transition: 0.3s;
}

.roomList-box .input_placeholder_error::-webkit-input-placeholder {
    color: red
}

.roomList-box select {
    cursor: pointer;
}

.pagination {
    padding: 32px 0;
    display: inline-block;
}

.pagination a {
    color: #fff;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid rgb(131, 120, 47, 0.5);
    background-color: rgb(131, 120, 47, 0.5);
}

.pagination a.active {
    background-color: rgb(131, 120, 47, 1);
    color: #fff;
    border: 1px solid rgb(131, 120, 47, 1);
}

.pagination a:hover:not(.active) {
    background-color: rgb(131, 120, 47, 0.7);
    border: 1px solid rgb(131, 120, 47, 0.7);
}

.roomList-box .search {
    margin-top: 8px;
    height:61px;display:flex;align-items:flex-start;
}

.roomList-box .search .dateText {
    position: absolute;
    top: 1px;
    left: 12px;
    width: 142px;
    height: 38px;
    display: flex;
    align-items: center;
    background-color: #fff;
    cursor: default;
}

.roomList-box .search .roundtrip-input {
    margin: 0;
    background-image: url("../img/tool/calendar.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 92% 50%;
    cursor: pointer;
}

.roomList-box input#people {
    width: 70px;
    margin: 0;
}

.roomList-box .search input[type=number]::-webkit-inner-spin-button,
.roomList-box .search input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.roomList-box .search input[type=number] {
    -moz-appearance: textfield;
}

.roomList-box .search button {
    width: auto;
    margin: 0 8px;
}

.roomList-box .card {
    margin-bottom: 16px;
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    width: 100%;
    height: 220px;
    border-radius: 4px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.roomList-box .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.roomList-box .card .user-grid {
    display: grid;
    grid-template-columns: 20px auto;
    column-gap: 8px;
}

.roomList-box .card .room-text {
    padding-top: 16px;
    width: 100%;
    height: 118px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.roomList-box .icon-grid {
    padding: 20px 0;
    display: grid;
    grid-template-columns: 36px auto;
    align-items: center;
    column-gap: 16px;
}

#add2{
    width: 100%;
    display: none;
    position: fixed;
    top: 0;
    z-index: 998;
}

#add2 .bg{
    background-color: rgb(97, 97, 97);
    opacity: 0.2;
    min-height: 100vh;
}

#add2 .card{
    width: calc(100% - 32px);
    border-radius: 4px;
    padding: 16px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

#add2 .card .input-grid{
    padding-top: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px 8px;
}

#add2 .card button{
    width: 100%;
    margin: 0;
}

@media screen and (max-width: 1599px){
    .box{
        padding: 80px 0 0 calc(100% - 1340px);
    }
}

@media screen and (max-width: 1569px){
    .box{
        padding: 80px 0 0 230px;
    }
    .roomList-box #add{
        right: -35px !important;
    }

    .roomList-box #add .arrow-up{
        right: 78px;
    }
}

@media screen and (max-width: 1449px){
    .box{
        padding: 80px 0 0 0;
    }
}

@media screen and (max-width: 1199px){
    .box-grid{
        grid-template-columns: 1fr auto;
        gap: 16px;
        grid-template-areas: 
        "roomSearch roomSearch"
        "roomList icon"
    }

    .roomList-box:first-child{
        grid-area: roomList;
    }

    .roomList-box:nth-child(2){
        grid-area: roomSearch;
    }

    .roomList-box:last-child{
        grid-area: icon;
    }

    .roomList-box{
        padding: 24px;
        min-height: 600px;
    }

    .roomList-box #add{
        right: -25px !important;
    }

    .roomList-box #add .arrow-up{
        right: 68px;
    }
}

@media screen and (max-width: 767px){
    #box-padding{
        padding: 0 !important;
    }

    .box-grid{
        display: flex;
        flex-direction: column;
    }

    .roomList-box{
        padding: 24px 16px;
        border-radius: 0;
        min-height:auto
    }
    
    .roomList-box:first-child{
        order: 2;
    }
    .roomList-box:nth-child(2){
        order: 1;
    }
    .roomList-box:last-child{
        order: 3;
    }

    .roomList-box .search{
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 26px 1fr;
        gap: 16px 0px;
        grid-template-areas:
        "search-topic . ."
        "from-box to-text to-box"
    }

    .roomList-box #padding-searchbox{
        padding: 0 !important;
    }

    .roomList-box .search p{
        grid-area: search-topic;
    }

    .roomList-box .search #from_box{
        grid-area: from-box;
    }

    .roomList-box .search label{
        grid-area: to-text;
    }

    .roomList-box .search #to_box{
        grid-area: to-box;
    }

    .roomList-box .card{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .roomList-box .card #room_img{
        height: 220px;
    }
}

@media screen and (max-width: 410px){
    .roomList-box .checkbox-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}