@font-face {
    font-family: Sarabun;
    src: url(../fonts/Sarabun-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sarabun;
}

body {
    width: 100%;
    min-height: 100vh;

    position: relative;
    background: url("../img/tool/bg.png");
}

body::before {
    content: '';
    position: absolute;
    z-index: -1;
    /* push it to the background */
    top: 0px;
    /* position it off the top background */
    right: 0px;
    bottom: -100px;
    /* position it off the bottom background */
    left: 0px;
    background: url('../img/tool/flower.png') bottom left no-repeat, url('../img/tool/flower2.png') bottom right no-repeat;
    opacity: 0.2;
}

.box {
    width: 1400px;
    margin: auto;
    padding: 32px;
}

.box .roomPage {
    width: 100%;
}

.hr {
    margin: 16px auto;
    border-bottom: 1px solid rgb(131, 120, 47, 0.7);
    opacity: 0.5;
}

.box .roomPage .card {
    margin: 32px 0;
    width: 100%;
    height: auto;
    border-radius: 4px;
    background: url("../img/tool/bg2.png");
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.box .roomPage .card h3 {
    color: #b3994c;
    font-weight: bold;
}

.box .roomPage .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box .roomPage .card .detail {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    line-height: 40px;
}

.box .roomPage .card button {
    width: auto;
    height: 40px;
    padding: 0 16px;
    border-radius: 4px;
    border: none;
    background-color: rgb(131, 120, 47, 0.7);
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.box .roomPage .card button:hover {
    background-color: rgb(131, 120, 47, 1);
}

.box .roomPage .cardimg {
    vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.box .roomPage .card .container {
    position: relative;
}

/* Hide the images by default */
.box .roomPage .card .mySlides1,
.box .roomPage .card .mySlides2 {
    display: none;
    height: 430px;
}

/* Add a pointer when hovering over the thumbnail images */
.box .roomPage .card .cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.box .roomPage .card .prev,
.box .roomPage .card .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 0 16px;
    /* margin-top: -50px; */
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.box .roomPage .card .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.box .roomPage .card .prev:hover,
.box .roomPage .card .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.box .roomPage .card .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.box .roomPage .card .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.box .roomPage .card .row {
    overflow: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.box .roomPage .card .row::-webkit-scrollbar {
    height: 8px;
}

.box .roomPage .card .row::-webkit-scrollbar-thumb {
    background:  rgb(131, 120, 47, 0.7);
}

.box .roomPage .card .row::-webkit-scrollbar-thumb:hover{
    background:  rgb(131, 120, 47, 1);
}

.box .roomPage .card .row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.box .roomPage .card .column {
    display: inline-block;
    width: 20%;
    height: 70px;
}

/* Add a transparency effect for thumnbail images */
.box .roomPage .card .demo1,
.box .roomPage .card .demo2 {
    opacity: 0.4;
}

.box .roomPage .card .active,
.box .roomPage .card .demo1:hover,
.box .roomPage .card .demo2:hover {
    opacity: 1;
}