@font-face {
    font-family: Sarabun;
    src: url(../fonts/Sarabun-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sarabun;
}

.box {
    padding: 80px 0 0 260px;
}

.rule-box {
    width: 100%;
    min-height: 870px;
    padding: 36px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.rule-box textarea {
    margin-top: 32px;
    width: 100%;
    height: 600px;
    padding: 12px;
    border: 1px solid rgb(131, 120, 47, 0.5);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    outline: none;
    resize: none;
    transition: 0.3s;
}

.rule-box button {
    min-width: 120px;
    height: 40px;
    border-radius: 4px;
    border: none;
    background-color: rgb(131, 120, 47, 0.7);
    font-size: 16px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.rule-box .edit_btn {
    color: #fff;
    background-color: darkturquoise;
    transition: 0.3s;
}

.rule-box .edit_btn:hover {
    background-color: rgb(0, 165, 165);
}

.rule-box .cancel_btn {
    color: #fff;
    background-color: #FF4646;
    transition: 0.3s;
}

.rule-box .cancel_btn:hover{
    background-color:rgb(216, 40, 40);
}

.rule-box button:hover {
    background-color: rgb(131, 120, 47, 1);
}