@font-face {
    font-family: Sarabun;
    src: url(../fonts/Sarabun-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sarabun;
}

.box {
    padding: 80px 0 0 260px;
}

.selectRoom-box {
    width: 100%;
    min-height: 800px;
    padding: 36px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.hr {
    margin: 16px auto 32px auto;
    border-bottom: 1px solid rgb(131, 120, 47, 0.7);
    opacity: 0.5;
}

.box .selectRoom-box input:not([type=file]) {
    margin-top: 8px;
    width: 100%;
    height: 36px;
    padding: 0 12px;
    border: 1px solid rgb(131, 120, 47, 0.7);
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

.box .selectRoom-box input#room_select{
    margin: 0;
    border: none;
    width: auto;
    height: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 16px 8px;
    grid-template-areas:
        "room_select room_select room_select name_title firstname firstname firstname lastname lastname lastname"
        "id_card id_card id_card email email email email tel tel tel"
        "check_in check_in check_out check_out night people air fan room_status room_status"
        "total_price . . . . . . . . .";
}

.room_select {
    grid-area: room_select;
    height: 86px;
}

.name_title {
    grid-area: name_title;
    height: 86px;
}

.firstname {
    grid-area: firstname;
    height: 86px;
}

.lastname {
    grid-area: lastname;
    height: 86px;
}

.id_card {
    grid-area: id_card;
    height: 86px;
}

.email {
    grid-area: email;
    height: 86px;
}

.tel {
    grid-area: tel;
    height: 86px;
}

.check_in {
    grid-area: check_in;
    height: 86px;
}

.check_out {
    grid-area: check_out;
    height: 86px;
}

.night {
    grid-area: night;
    height: 86px;
}

.people {
    grid-area: people;
    height: 86px;
}

.air {
    grid-area: air;
    height: 86px;
}

.fan {
    grid-area: fan;
    height: 86px;
}

.room_status {
    grid-area: room_status;
    height: 86px;
}

.total_price{
    grid-area: total_price;
    height: 86px;
}

.box .selectRoom-box .grid-box{
    padding: 32px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
}

.box .selectRoom-box button {
    width: auto;
    height: 40px;
    padding: 0 16px;
    border-radius: 4px;
    border: none;
    background-color: rgb(131, 120, 47, 0.7);
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.box .selectRoom-box button:hover {
    background-color: rgb(131, 120, 47, 1);
}

.box .selectRoom-box .grid-box button{
    margin-right: 8px;
}

.box .selectRoom-box .img-box{
    margin: 8px 0;
    width: 100%;
    height: 400px;
    border: 1px solid rgb(131, 120, 47, 0.5);
    border-radius: 4px;
    overflow: hidden;
}

.box .selectRoom-box .img-box img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}