@font-face {
    font-family: Sarabun;
    src: url(/Pingfah/fonts/Sarabun-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sarabun;
}

.box {
    padding: 80px 0 0 260px;
}

.addEmployee-box {
    width: 100%;
    min-height: 870px;
    padding: 36px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.addEmployee-box h2 {
    margin-bottom: 16px;
}

.addEmployee-box .row {
    display: flex;
}

.addEmployee-box .col-1 {
    flex: 0 0 auto;
    width: 8.333333%;
    padding-right: 8px;
}

.addEmployee-box .col-2 {
    flex: 0 0 auto;
    width: 16.666667%;
    padding-right: 8px;
}

.addEmployee-box .col-3 {
    flex: 0 0 auto;
    width: 25%;
    padding-right: 8px;
}

.addEmployee-box .col-4 {
    flex: 0 0 auto;
    width: 33.333333%;
    padding-right: 8px;
}

.addEmployee-box .col-5 {
    flex: 0 0 auto;
    width: 41.666667%;
    padding-right: 8px;
}

.addEmployee-box .col-6 {
    flex: 0 0 auto;
    width: 50%;
    padding-right: 8px;
}

.addEmployee-box .col-7 {
    flex: 0 0 auto;
    width: 58.333333%;
    padding-right: 8px;
}

.addEmployee-box .col-8 {
    flex: 0 0 auto;
    width: 66.666667%;
    padding-right: 8px;
}

.addEmployee-box .col-9 {
    flex: 0 0 auto;
    width: 75%;
    padding-right: 8px;
}

.addEmployee-box .col-10 {
    flex: 0 0 auto;
    width: 83.333333%;
    padding-right: 8px;
}

.addEmployee-box .col-11 {
    flex: 0 0 auto;
    width: 91.666667%;
    padding-right: 8px;
}

.addEmployee-box .col-12 {
    flex: 0 0 auto;
    width: 100%;
    padding-right: 8px;
}

.addEmployee-box select {
    margin-top: 8px;
    width: 100%;
    height: 36px;
    padding: 0 12px;
    border-radius: 4px;
    outline: none;
    border: 1px solid rgb(131, 120, 47, 0.5);
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.addEmployee-box input[type="text"],
.addEmployee-box input[type="date"],
.addEmployee-box input[type="email"],
.addEmployee-box input[type="tel"],
.addEmployee-box input[type="password"] {
    margin-top: 8px;
    width: 100%;
    height: 36px;
    padding: 0 12px;
    border: 1px solid rgb(131, 120, 47, 0.5);
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

.addEmployee-box .profile-box{
    width: 160px;
    height: 160px;
    border-radius: 4px;
    border: 1px solid rgb(131, 120, 47, 0.5);
    overflow: hidden;
}

.addEmployee-box .profile{
    max-width: 160px;
    height: 160px;
    object-fit: cover;
    display: block;
    margin: auto;
}

.addEmployee-box textarea {
    margin-top: 8px;
    width: 100%;
    height: 80px;
    padding: 8px 12px;
    resize: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid rgb(131, 120, 47, 0.5);
    outline: none;
    transition: 0.3s;
}

.addEmployee-box select:hover,
.addEmployee-box input[type="text"]:hover,
.addEmployee-box input[type="date"]:hover,
.addEmployee-box select:focus,
.addEmployee-box input[type="text"]:focus,
.addEmployee-box input[type="date"]:focus,
.addEmployee-box textarea:hover,
.addEmployee-box textarea:focus {
    border: 1px solid rgb(131, 120, 47,1);
}

.addEmployee-box button {
    width: 80px;
    height: 40px;
    border-radius: 4px;
    border: none;
    background-color: rgb(131, 120, 47, 1);
    font-size: 16px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.addEmployee-box button:hover{
    filter: brightness(0.9);
}

.addEmployee-box .img-box{
    margin-top: 8px;
    width: 100%;
    height: 500px;
    border: 1px solid rgb(131, 120, 47, 0.5);
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.addEmployee-box img{
    max-width: 100%;
    display: block;
    margin: auto;
    object-fit: cover;
}

.addEmployee-box .img-box img{
    height: 500px;
}