@font-face {
    font-family: Sarabun;
    src: url(/Pingfah/fonts/Sarabun-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sarabun;
}

.box {
    padding: 80px 0 0 260px;
}

.addcost-box {
    width: fit-content;
    min-height: fit-content;
    padding: 36px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.addcost-box select{
    margin-top: 8px;
    width: 100px;
    height: 40px;
    border-radius: 4px;
    padding: 0 12px;
    border: 1px solid rgb(131, 120, 47, 0.5);
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

.addcost-box select option{
    min-height: 40px;
}

.addcost-box .detail-box{
    margin-top:24px;
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    grid-gap: 0 32px;
}

.addcost-box input{
    margin-top: 8px;
    width: 200px;
    height: 40px;
    padding: 0 12px;
    border: 1px solid rgb(131, 120, 47, 0.5);
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}