@font-face {
    font-family: Sarabun;
    src: url(/Pingfah/fonts/Sarabun-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sarabun;
}

.box {
    padding: 80px 0 0 260px;
}

.cost-box {
    width: 100%;
    min-height: 870px;
    padding: 36px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.cost-box input[type="date"]{
    margin-left: 8px;
    width: 200px;
    height: 40px;
    padding: 0 12px;
    border: 1px solid rgb(131, 120, 47, 0.5);
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

.cost-box button{
    width: 100px;
    height: 40px;
    border-radius: 4px;
    border: none;
    background-color: rgb(131, 120, 47, 0.7);
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.cost-box .search-btn{
    margin-left: 8px;
}

.cost-box button:hover{
    background-color: rgb(131, 120, 47, 1);
}

.cost-box table{
    margin-top: 32px;
    width: 100%;
    overflow: hidden;
    border-collapse: collapse;
    border-radius: 4px;
}

.cost-box table tr{
    height: 50px;
}

.cost-box table th,
.cost-box table td {
    border: 1px solid #ddd;
    padding: 0 16px;
}

.cost-box label,.cost-box table th {
    font-size: 16px;
    font-weight: 500;
}

.cost-box table th{
    color: #fff;
    background-color: rgb(131, 120, 47, 0.7);
}

.cost-box table a {
    font-size: 16px;
    font-weight: 500;
    color: rgb(131, 120, 47);
    text-decoration: none;
    transition: 0.3s;
}

.cost-box table a:hover {
    color: rgb(131, 120, 47, 0.7);
}